{% extends 'XDCmsBundle:Sonata:edit.html.twig' %}

{% block stylesheets %}
	{{ parent() }}	

{% endblock %}

{% block javascripts %}
	{{ parent() }}
  
    <script type="text/javascript">
		function addObject() {

		

			var prototype = $('#zdjecia-table').attr('data-prototype');

		    // Replace '$$name$$' in the prototype's HTML to
		    // instead be a number based on the current collection's length.
		    var newForm = prototype.replace(/\$\$name\$\$/g, $('#zdjecia-table tr').size() - 1);

		    // Display the form in the page in an li, before the "Add a tag" link li
		    console.log(newForm)
		   	$('#zdjecia-table tr.header').after(newForm);
				
		}
    </script>
    
{% endblock %}



{% block form_fieldset %}

	{% set zdjecia_prototype = (
		'<tr>
			<td>' ~ form_widget(form.zdjecia.get('prototype')._delete) 	~ 	'</td>
			<td>'~  form_widget(form.zdjecia.get('prototype')._file) 	  ~		'</td>
			<td>'~  form_widget(form.zdjecia.get('prototype').podpis) 	  ~		'</td>
			<td>'~  form_widget(form.zdjecia.get('prototype').kolejnosc)   ~	'</td>
		</tr>')  %}

	
	<button  onclick="addObject(); return false;" class="btn" >
		<img src="{{ asset('bundles/sonataadmin/famfamfam/add.png') }}" />
		dodaj zdjęcie
	</button>
	
	<br /><br />
	
	<table id="zdjecia-table" class="bordered-table" data-prototype="{{ zdjecia_prototype }}">
		<tr class="header">
			<th>usuń</th>
			<th>Zdjęcie</th>
			<th>Podpis</th>
			<th>Kolejnosc</th>
		</tr>
	{% for zdjecie in form.zdjecia %}
		<tr>
			<td>
				{{ form_widget(zdjecie._delete) }}
			</td>
			<td>
				<img src="{{ asset(zdjecie.get('value').getWebPath() | imagine_filter('thumb_admin_small') ) }}" />
				{{ form_widget(zdjecie._file) }}
				<a href="{{ path('admin_lm_cms_galeriazdjecie_edit', {id: zdjecie.get('value').id}) }}">Edytuj / kadruj</a>
			</td>
			<td>{{ form_widget(zdjecie.podpis) }}</td>
			<td>{{ form_widget(zdjecie.kolejnosc) }}
				{{ form_widget(zdjecie.updated_at) }}
			</td>
			
			
			
			
			
		</tr>
	{% endfor %}
	
	</table>
	
	
	
	

       
 {% endblock %}