{% extends 'LmCmsBundle::podstrona.html.twig' %}

{% block title %}{{ content_title|default('') }} - {{ parent() }} {% endblock %}

{% block page_title %}Aktualności{% endblock %}

{% block content_div %}

 <div class="articles">
 	{% for aktualnosc in aktualnosci %}
 		<article>

                        <section class="title">
                            <a href="{{ path('lm_cms_aktualnosci_show', {slug: aktualnosc.slug}) }}" title="{{ aktualnosc.title }}">{{ aktualnosc.title }}</a>
                        </section>
                        <section class="date">{{ aktualnosc.publishDate|localizeddate('long', 'none', 'pl') }}</section>
                        {% if aktualnosc.getWebPath() %}
                        <section class="photo">
                            <img src="{{ asset(aktualnosc.getWebPath() | imagine_filter('aktualnosc_foto')) }}" alt="" />
                        </section>
                        {% endif %}
                        <section class="desc">{{ aktualnosc.description|truncate(500)|raw }}</section>
      </article>
 	{% endfor %}

	{{ aktualnosci.render()|raw }}


   </div>


{% endblock %}