{% extends "LmCmsBundle::podstrona.html.twig" %}

{% block title %}{% if page.title %}{{ page.title }} - {% endif %}{{ parent() }}{% endblock %}
{% block keywords %}{{ page.keywords }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}

{% block page_title %}{{ page.title }}{% endblock %}

{% block content_div %}

<article>
		{% if page.getWebPath() %}
					<section class="photo">
                        <img src="{{ asset(page.getWebPath() |imagine_filter('podstrona_foto') ) }}" />
                    </section>
					{% endif %}

                    <section class="title">{{ page.title }}</section>
                    <section class="desc">
                        {{ page.content|raw }}
                    </section>


                    {% if page.galeria %}
		<aside class="gallery">
			<h4>Galeria zdjęć</h4>

			{% include 'LmCmsBundle:Galeria:_photos.html.twig' with {galeria: page.galeria} %}
		</aside>
		{% endif %}



</article>

{% endblock %}