

{% block body_class %}photo_contact{% endblock %}
{% block content %}
				<!-- CONTETN SUBPAGE -->
				<div class="content_subpage">

					<h2>
						Kontakt
					</h2>

					<!-- YELLOW LEFT -->
					<div class="yellow_left">

						<!-- BG WHITE -->
						<div class="bg_white">

							<!-- CONTACT -->
							<div class="contact">

								<!-- TEXT CONTACT LEFT -->
								<div class="text_contact_left">
									Możesz
									skontaktować się
									ze mną
									wypełniając
									formularz
									kontaktowy
								</div>
								<!-- TEXT CONTACT LEFT END -->

								<!-- FORM -->
								<div class="form">

								{% if message == 'sent' %}

									{% render "LmCmsBundle:Default:blok" with {slug: 'blok-formularz-podziekowanie'} %}

								{% else %}

									<form action="{{ path('lm_cms_default_contact') }}" method="post" {{ form_enctype(form) }}  novalidate>



									{#
										{% if form_errors(form) %}
											<div class="form-row">
									    	 	Uzupełnij wymagane pola formularza
									    	</div>
										{% endif %}
									#}
										<!-- FORM INPUT -->
										<div class="form_input">

											<p class="name">
												{{ form_label(form.imie) }}
											</p>

											<p class="input {% if form.imie.vars.errors|length %}error{% endif %}">
												{{ form_widget(form.imie) }}
											</p>

										</div>
										<!-- FORM INPUT END -->

										<!-- FORM INPUT -->
										<div class="form_input end">
											<p class="name">
												{{ form_label(form.nazwisko) }}
											</p>

											<p class="input {% if form.nazwisko.vars.errors|length %}error{% endif %}">
												{{ form_widget(form.nazwisko) }}
											</p>

										</div>
										<!-- FORM INPUT END -->

										<div class="clear"></div>

										<!-- FORM INPUT -->
										<div class="form_input">
											<p class="name">
												{{ form_label(form.email) }}
											</p>

											<p class="input {% if form.email.vars.errors|length %}error{% endif %}">
												{{ form_widget(form.email) }}
											</p>

										</div>
										<!-- FORM INPUT END -->

										<!-- FORM INPUT -->
										<div class="form_input end">

											<p class="name">
												{{ form_label(form.telefon) }}
											</p>

											<p class="input {% if form.telefon.vars.errors|length %}error{% endif %}">
												 {{ form_widget(form.telefon) }}
											</p>

										</div>
										<!-- FORM INPUT END -->

										<!-- FORM TEXTAREA -->
										<div class="form_textarea">

											<p class="name">
												{{ form_label(form.tresc) }}
											</p>

											<p class="textarea {% if form.tresc.vars.errors|length %}error{% endif %}">
												{{ form_widget(form.tresc) }}
											</p>

										</div>
										<!-- FORM TEXTAREA END -->

										 {{ form_rest(form) }}

										<div class="clear"></div>

										{% if form.imie.vars.errors|length
										   or form.nazwisko.vars.errors|length
										   or form.email.vars.errors|length
										   or form.telefon.vars.errors|length
										   or form.tresc.vars.errors|length
										    %}
									    <div style="float: left;padding: 13px 0;color: red; width: 220px" class="error">Uzupełnij wymagane pola formularza</div>
										{% endif %}

										{% if form_errors(form) %}
											<div style="float: left;padding: 13px 0;color: red;width: 220px" class="">
									    	 	{{ form_errors(form) }}
									    	</div>
										{% endif %}

										<input type="submit" class="button_send" value="" />
									</form>


								{% endif %}
									<div class="clear"></div>
								</div>
								<!-- FORM END -->

								<!-- TEXT CONTACT RIGHT -->
								<div class="text_contact_right">

									{% render "LmCmsBundle:Default:blok" with {slug: 'blok-kontakt-1'} %}



								</div>
								<!-- TEXT CONTACT RIGHT END -->

								<div class="clear"></div>
							</div>
							<!-- CONTACT END -->

							<div class="clear"></div>
						</div>
						<!-- BG WHITE END -->

						<!-- YELLOW BOX BOTTOM -->
						<div class="yellow_box_bottom"></div>
						<!-- YELLOW BOX BOTTOM END -->

						<div class="clear"></div>
					</div>
					<!-- YELLOW LEFT END -->

					<div class="clear"></div>
				</div>
				<!-- CONTETN SUBPAGE END -->

{% endblock %}


