

<div class="photos">

	<div class="row">
	{% for zdjecie in galeria.zdjecia %}

	{% if loop.index0 > 1 and loop.index0 % 4 == 0 %}
		</div><div class="row">
	{% endif %}

	   <div class="photoContent {% if loop.index0 > 1 and loop.index % 4 == 0 %}last{% endif %}">
          <a rel="gal" class="mask" href="{{ asset(zdjecie.getWebPath()) }}" title="{{ zdjecie.podpis }}"></a>
	      <div class="photo">
              <img src="{{ asset(zdjecie.getWebPathCrop() | imagine_filter('galeria_thumbnail')) }}" alt="" />
          </div>
      </div>

	{% endfor %}
	</div>

</div>