{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends 'SonataDoctrineORMAdminBundle:Form:form_admin_fields.html.twig' %}

{% form_theme form _self %}



{# {% set form_field_id = '_'~form.get('id')  %}#}
{# {% debug form_field_id %}#}
{# {% block '_'~form.get('id') %}#}
{#     <div class="text_widget">#}
{#         {{ block('field_widget') }}#}
{#     </div>#}
{# {% endblock %}#}





{% block image_widget %}
<span class="lazyloadimage" id="lazy-{{ id }}" ></span>

{{ form_widget(form) }}
{% endblock %}