<div class="alert-message success">       
    <p><strong>Kadrowanie wykonane </strong> Nastąpi przeładowanie strony ... </p>
</div>

<script type="text/javascript">

	$(function(){
		setTimeout(function(){
			window.location.href = '{{ admin.generateUrl('edit', {id: object.id}) }}'
		}, 2000)
	})

</script>