{% if wo_breadcrumbs()|length >= 0 %}
    {#<ul id="breadcrumbs">
  
      {% for b in wo_breadcrumbs() %}
        {% if loop.last %}
          <li class="current">{{ b.text }}</li>
        {% else %}
          <li><a href="{{ b.url }}">{{ b.text }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
    #}
    <div id="breadcrumbs">
        <a href="{{ path('lm_cms_default_main') }}" class="home">Strona główna</a>
        {% for b in wo_breadcrumbs() %}
            {% if loop.last %}
                <a href="{{ b.url }}" class="actual">{{ b.text }}</a>
            {% else %}
                <a href="{{ b.url }}">{{ b.text }}</a>
            {% endif %}
        {% endfor %}

    </div>
{% endif %}
