@defaultFont: 'Times New Roman';
@openSansFont: 'Open Sans';
@latoFont: 'Lato';
@imagesPath: "images";
@pageWidth: 980px;

@mobile:        ~"only screen and (max-width: 739px)";
@tablet:        ~"only screen and (min-width: 740px) and (max-width: 1019px)";
@desktop:       ~"only screen and (min-width: 1020px)";

.container {
    width: 980px;
    margin: 0 auto;

    @media @tablet {
        width: 700px;
    }
    
    @media @mobile {
        width: 320px;
    }
}

#cboxClose {
    text-indent:-9999px;
    width:24px;
    height:24px;
    position:absolute;
    top:-38px;
    background: url("@{imagesPath}/colorbox_close.png") no-repeat center center scroll;
    right:13px;
}

#cboxTitle {
    padding-left: 30px;
    font: normal 20px 'Lato';
    line-height: 50px;
    height: 50px; 
    width: 100%;
    background: #f23b70 no-repeat;
    position: absolute;
    top: -50px;
    left:0;
    color:#fefefe;
}

.formContact #cboxTitle {
    background: url("@{imagesPath}/colorbox_title_bg.png") #f23b70 no-repeat;
}

#cboxLoadedContent .cboxPhoto {
    padding: 0 35px 25px 35px;
}

html {
    font-family: 'Lato', sans-serif;
}

body {
    a {
        text-decoration: none;
    }

    .header-top {
        float: left;
        width: 100%;
        border-bottom: 1px solid #e2e2e2;

        @media @mobile {
            display: none;
        }

        .header-top-content {
            width: 100%;

            .header-top-left {
                line-height: 36px;
                display: inline-block;
                padding-right: 15px;
                font-size: 12px;

                @media @tablet {
                    font-size: 11px;
                }

                &:nth-child(2) {
                    position: relative;
                    padding-left: 16px;

                    @media @tablet {
                        display: none;
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 10px;
                        height: 16px;
                        width: 1px;
                        border-left: 1px solid #e2e2e2;
                    }
                }
            }

            .header-top-right {
                float: right;

                .phone-info {
                    float: left;
                    font-size: 12px;
                    line-height: 36px;
                    margin-right: 15px;

                    .phone-registration {
                        display: inline-block;
                        color: #e92d84;
                        position: relative;

                        &:after {
                            content: "";
                            display: inline-block;
                            background: url("@{imagesPath}/right_arrow2.png") no-repeat;
                            width: 23px;
                            height: 5px;
                            margin-right: 8px;
                            margin-left: 9px;
                            position: relative;
                            bottom: 2px;
                        }
                    }

                    .phone-number {
                        font-size: 13px;
                        color: #333333;
                        font-weight: bold;
                    }
                }

                .sociales {
                    float: right;
                    line-height: 36px;
                    position: relative;

                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 10px;
                        height: 16px;
                        width: 1px;
                        border-left: 1px solid #e2e2e2;
                    }

                    .facebook {
                        margin-left: 15px;
                        position: relative;
                        top: 3px;
                    }

                    .instagram {
                        margin-left: 15px;
                        position: relative;
                        top: 3px;
                    }
                }
            }
        }
    }

    header {
        width: 100%;
        float: left;

        .logo {
            float: left;

            a {
                display: block;
                width: 237px;
                height: 53px;
                margin-top: 15px;
                background: url("@{imagesPath}/logo-new.png") no-repeat left;

                @media @mobile {
                    margin-left: 10px;
                    margin-top: 0;
                    width: 110px;
                    background-size: contain;
                }
            }
        }

        .top {
            text-align: right;
            font: normal 15px @latoFont, @defaultFont;
            font-style: italic;
            float: right;
            width: 600px;
            height: 100%;
            font-style: normal;

            @media @tablet {
                width: 200px;
            }
            
            @media @mobile {
                width: 93px;
                height: 53px;
            }

            .menu {
                margin-top: 35px;
                font-size: 14px;
                font-weight: 700;
                font-style: none;
                height: 55px;
                float: right;
                width: 710px;
                
                @media @mobile {
                    margin-top: 0;
                    width: 100%;
                }

                #mobile-menu {
                    display: none;
                    width: 71px;
                    float: right;
                    cursor: pointer;
                    margin-right: 22px;

                    @media @tablet, @mobile {
                        display: block;
                    }

                    @media @mobile {
                        margin-top: 16px;
                        margin-right: 8px;
                    }

                    .mobile-menu-desc {
                        line-height: 18px;
                        float: left;
                        font-family: 'Lato';
                    }
                }

                #menu-list {
                    @media @tablet, @mobile {
                        display: none;
                        position: fixed;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100vh;
                        background-color: #e92d84;
                        z-index: 100;
                    }
                    
                    .mobile-menu-head {
                        display: none;
                        border-bottom: 1px solid #ffffff;
                        
                        @media @tablet {
                            display: block;
                        }
                        
                        .mobile-menu-text {
                            font-size: 11px;
                            color: #ffffff;
                            font-weight: 300;
                            line-height: 35px;
                            text-align: left;
                        }
                    }
                    
                    .mobile-close-menu {
                        display: none;
                        margin-top: 35px;
                        margin-right: 22px;
                        cursor: pointer;
                        float: right;
                        
                        @media @tablet, @mobile {
                            display: block;
                        }
                        
                        @media @mobile {
                            margin-top: 16px;
                            margin-right: 8px;
                        }

                        .mobile-close-desc {
                            margin-right: 22px;
                            display: inline-block;
                            color: #ffffff;
                            position: relative;
                            top: -7px;
                            margin-right: 12px;
                            font-weight: 500;

                            @media @mobile {
                                top: -9px;
                            }
                        }
                    }

                    .menu-container {
                        @media @tablet {
                            clear: both;
                            margin: 0 auto;
                            width: 700px;
                        }

                        @media @mobile {
                            clear: both;
                            margin: 0 auto;
                            width: 320px;
                        }

                        > ul {
                            float: right;
                            margin: 0px;
                            padding: 0px;
                            height: 28px;
                            list-style: none;

                            @media @tablet {
                                margin-right: 165px;
                                width: 370px;
                                text-align: right;
                                font-size: 25px;
                                position: relative;
                                height: auto;
                                margin-top: 35px;
                            }

                            @media @mobile {
                                margin-top: 45px;
                                margin-right: 0;
                                width: 100%;
                                text-align: right;
                                font-size: 16px;
                                height: auto;
                                position: relative;
                            }

                            > li {
                                padding-top: 12px;
                                height: 37px;
                                text-align: center;
                                float: left;
                                margin-left: 30px;
                                position: relative;

                                @media @tablet, @mobile {
                                    width: 100%;
                                    margin: 0;
                                    padding: 0;
                                    text-align: right;
                                    position: static;
                                }

                                &.home {
                                    border: none;
                                    background: url("@{imagesPath}/home_ico.png") no-repeat 75px 10px;

                                    a {
                                        display: block;
                                        background: none;

                                        &:hover {
                                            background: none;
                                        }
                                    }

                                    &:hover {
                                        background: url("@{imagesPath}/home_ico_hover.png") no-repeat 75px 10px;
                                    }
                                }

                                > a {
                                    padding-bottom: 10px;
                                    font-weight: 700 !important;
                                    color: #383838;
                                    position: relative;
                                    z-index: 2;

                                    @media @tablet, @mobile {
                                        font-weight: 400;
                                        color: #ffffff;
                                        position: static;
                                        outline: none;
                                    }

                                    &:hover, &.hover {
                                        @media @desktop {
                                            color: #e41c56;
                                        }
                                    }
                                }

                                &:hover ul {
                                    @media @desktop {
                                        display: block;
                                    }
                                }

                                ul {
                                    display: none;
                                    margin-top: 3px;
                                    padding: 16px 10px 11px 10px;
                                    width: 385px;
                                    height: auto;
                                    border-top: none;
                                    position: absolute;
                                    left: -10px;
                                    z-index: 10;
                                    background-color: #ffffff;
                                    column-count: 2;
                                    column-gap: 20px;
                                    font-size: 13px;
                                    font-weight: 400;
                                    padding-bottom: 30px;
                                    
                                    @media @tablet, @mobile {
                                        display: none;
                                        background: none;
                                        border: none;
                                        padding: 0;
                                        margin: 0;
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                        background-color: #e92d84;
                                        z-index: 100;
                                        font-size: 14px;
                                        font-weight: normal;
                                        width: 100%;
                                        min-height: 500px;
                                        column-count: 1;
                                        column-gap: normal;
                                    }
                                    
                                    @media @mobile {
                                        font-size: 12px;
                                    }
                                    
                                    .submenu-title {
                                        font-size: 25px;
                                        color: #ffffff;
                                        font-weight: 700;
                                        margin-bottom: 10px;
                                        
                                        @media @mobile {
                                            font-size: 16px;
                                        }
                                    }

                                    .back-to-list-wrap {
                                        display: block;
                                        float: right;
                                        width: 100%;

                                        .back-to-list {
                                            position: relative;
                                            cursor: pointer;
                                            float: right;
                                            margin-top: 20px;
                                            font-size: 14px;
                                            color: #ffffff;
                                            margin-right: 20px;

                                            &:after {
                                                content: "";
                                                position: absolute;
                                                right: -20px;
                                                top: 4px;
                                                background: url("@{imagesPath}/right-arrow.png") no-repeat;
                                                width: 7px;
                                                height: 13px;
                                            }
                                        }
                                    }
                                    

                                    li {
                                        font: 800 @latoFont, @defaultFont;
                                        text-align: left;
                                        list-style: none;
                                        
                                        @media @tablet, @mobile {
                                            width: calc(50% - 10px);
                                            display: block;
                                            float: left;
                                            text-align: right;
                                            padding-left: 10px;
                                        }
                                        
                                        @media @mobile {
                                            width: calc(100% - 10px);
                                        }

                                        a {
                                            display: block;
                                            padding: 4px 0;
                                            color: #383838;
                                            
                                            @media @tablet, @mobile {
                                                color: #fff;
                                                outline: none;
                                                padding: 5px 0;
                                            }
                                            
                                            @media @mobile {
                                                font-size: 16px;
                                            }

                                            &:hover {
                                                @media @desktop {
                                                    color: #e41c56;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #main {
        position: relative;
        float: left;
        width: 100%;

        &.home {
            margin-bottom: 50px;
            
            @media @tablet {
                margin-bottom: 39px;
            }
            
            @media @mobile {
                margin-bottom: 35px;
            }

            >.top {
                float: left;
                width: 100%;

                .bx-wrapper {
                    width: 100% !important;
                    height: 405px !important;
                    -moz-box-shadow: none;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    border: none;
                    margin: 0;
                    background: none;
                    border-radius: 5px;
                    overflow: hidden;

                    .bx-viewport {
                        height: 100% !important;

                        .bx-slider {
                            position: relative;
                            height: 100%;

                            .item {
                                height: 100%;

                                .item-content {
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    width: 348px;
                                    padding-left: 65px;
                                    height: 100%;
                                    background: url("@{imagesPath}/slider-bg.png") no-repeat;

                                    @media @tablet {
                                        width: 316px;
                                        padding-left: 56px;
                                        background-size: 100% 100%;
                                    }
                                    
                                    @media @mobile {
                                        width: 100%;
                                        padding: 0;
                                        height: 110px;
                                        top: initial;
                                        bottom: 0;
                                        text-align: center;
                                        
                                        &:before {
                                            content: "";
                                            position: absolute;
                                            top: -20px;
                                            left: -340px;
                                            border-radius: 50%;
                                            width: 1000px;
                                            height: 400px;
                                            background-color: #e92d84;
                                        }
                                    }

                                    .title {
                                        font-size: 32px;
                                        color: #ffffff;
                                        width: 275px;
                                        margin-top: 70px;

                                        @media @tablet {
                                            width: 240px;
                                            font-size: 27px;
                                            max-height: 62px;
                                        }
                                        
                                        @media @mobile {
                                            text-align: center;
                                            width: 250px;
                                            margin: 0 auto;
                                            font-size: 22px;
                                            margin-top: 13px;
                                            position: relative;
                                            z-index: 1;
                                        }
                                    }

                                    .text {
                                        margin-top: 25px;
                                        color: #ffffff;
                                        font-size: 12px;
                                        width: 230px;

                                        @media @tablet {
                                            margin-top: 20px;
                                            max-height: 70px;
                                        }
                                        
                                        @media @mobile {
                                            display: none;
                                        }
                                    }
                                }

                                img {
                                    width: 660px;
                                    height: 100%;
                                    float: right;
                                    object-fit: cover;

                                    &.desktop {
                                        display: block;
                                        
                                        @media @tablet {
                                            display: none;
                                        }
                                        
                                        @media @mobile {
                                            display: none;
                                        }
                                    }
                                    
                                    &.tablet {
                                        display: none;
                                        
                                        @media @tablet {
                                            display: block;
                                        }
                                        
                                        @media @mobile {
                                            display: none;
                                        }
                                    }
                                    
                                    &.mobile {
                                        display: none;
                                        
                                        @media @tablet {
                                            display: none;
                                        }
                                        
                                        @media @mobile {
                                            display: block;
                                        }
                                    }
                                    
                                    @media @mobile {
                                        width: 100%;
                                        height: 290px;
                                    }
                                }
                            }
                        }
                    }
                   
                    .bx-controls {
                        width: 150px;
                        position: absolute;
                        left: 65px;
                        top: 265px;

                        @media @tablet {
                            left: 50px;
                            top: 226px;
                        }
                        
                        @media @mobile {
                            display: none;
                        }

                        .bx-controls-direction {
                            display: none;
                        }

                        .bx-pager {
                            padding: 0;
                            position: initial !important;
                            text-align: left;

                            .bx-pager-item {
                                color: #cb166a;

                                .bx-pager-link {
                                    background: #cb166a;

                                    @media @tablet {
                                        width: 8px;
                                        height: 8px;
                                        margin: 0 6px;
                                    }

                                    &.active {
                                        background: #ffffff;
                                    }
                                }
                            }
                        }
                    }
                }

                .offers {
                    margin-top: -60px;
                    position: relative;
                    float: left;
                    width: 100%;

                    .offer {
                        width: 50%;
                        float: left;
                        margin-top: 40px;
                        
                        @media @mobile {
                            width: 100%;
                            
                            &:nth-child(2) {
                                margin-top: 12px;
                                
                                .offer-image {
                                    -webkit-box-shadow: none;
                                    -moz-box-shadow: none;
                                    box-shadow: none;
                                }
                            }
                        }

                        .offer-image {
                            width: 330px;
                            height: 124px;
                            position: relative;
                            z-index: 1;
                            -webkit-box-shadow: 0px -10px 50px 0px rgba(0,0,0,0.26);
                            -moz-box-shadow: 0px -10px 50px 0px rgba(0,0,0,0.26);
                            box-shadow: 0px -10px 50px 0px rgba(0,0,0,0.26);
                            margin: 0 auto;
                            border-radius: 10px;

                            @media @tablet, @mobile {
                                width: 267px;
                                height: 104px;
                            }

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 10px;
                            }
                        }

                        .offer-title {
                            text-align: center;
                            color: #e92d84;
                            margin: 30px 0 34px 0;
                            font-size: 22px;

                            @media @tablet {
                                margin: 30px 0 20px 0;
                            }

                            @media @mobile {
                                margin: 17px 0 17px 0;
                                font-size: 20px;
                            }
                            
                            &.blue {
                                color: #178ff5;
                            }
                        }

                        ul {
                            margin: 0;
                            padding: 0 30px 0 60px;
                            list-style: none;
                            line-height: 22px;

                            @media @tablet {
                                padding: 0 10px 0 0px;
                                font-size: 13px;
                            }

                            @media @mobile {
                                padding: 0;
                                font-size: 12px;
                            }
                            
                            li {
                                padding: 4px 0;
                            }
                        }

                        .btn-more {
                            margin: 0 auto;
                            margin-top: 30px;
                            margin-bottom: 35px;
                            width: 115px;
                            height: 39px;

                            .btn {
                                padding: 0 32px;
                                display: inline-block;
                                border: 2px solid #e92d84;
                                line-height: 36px;
                                border-radius: 5px;
                                font-weight: 600;
                                font-size: 14px;
                                color: black;

                                &.blue {
                                    border-color: #178ff5;

                                    &:hover {
                                        color: #178ff5;
                                    }
                                }

                                &:hover {
                                    color: #e92d84;
                                }
                            }
                        }
                    }
                }

                /*
                .doctor {
                    overflow: hidden;
                    top: 297px;
                    position: absolute;
                    right: 0px;
                    width: 263px;
                    height: 248px;

                    .photo {
                        display: block;
                        overflow: hidden;
                        width: 263px;
                        height: 248px;

                        img {
                            border-radius: 120px;
                        }
                    }

                    .text {
                        top: -80px;
                        position: relative;
                        height: 60px;
                        width: 100%;
                        text-align: center;
                        font: 900 16px @latoFont, @defaultFont;
                        color: #fff;

                        span {
                            font: normal 13px @latoFont, @defaultFont;
                        }
                    }
                }
                */
            }

            >.bottom {
                width: 100%;
                margin-bottom: 10px;
                float: left;

                .left {
                    position: relative;
                    float: left;
                    width: 50%;
                    
                    @media @mobile {
                        width: 100%;
                        float: initial;
                    }

                    .contact {
                        position: relative;
                        margin-top: 50px;
                        font: normal 17px @latoFont, @defaultFont;
                        padding-left: 45px;
                        padding-right: 165px;
                        padding-bottom: 20px;

                        @media @tablet {
                            margin: 0;
                            width: 100%;
                            padding: 0;
                            height: auto;
                            padding-top: 78px;
                            text-align: center;
                        }

                        @media @mobile {
                            margin: 0;
                            width: 100%;
                            padding: 0;
                            text-align: center;
                            padding-top: 78px;
                        }

                        b.bigger {
                            font-size: 19px;
                        }
                        
                        .decoration-arrow {
                            position: absolute;
                            top: 40px;
                            left: 278px;
                            
                            @media @tablet {
                                display: none;
                            }

                            @media @mobile {
                                display: none;
                            }
                        }

                        a {
                            -moz-transition: .2s linear;
                            -o-transition: .2s linear;
                            -webkit-transition: .2s linear;
                            transition: .2s linear;
                            position: absolute;
                            right: 60px;
                            bottom: 5px;
                            background: url("@{imagesPath}/home_contact.png") no-repeat -60px;
                            float: left;
                            display: block;
                            width: 80px;
                            height: 70px;

                            @media @tablet {
                                right: auto;
                                left: 139px;
                                top: 4px;
                            }
                            
                            @media @mobile {
                                right: auto;
                                left: 120px;
                                top: 4px;
                            }
                            
                            &:hover {
                                -moz-transform: rotate(-23deg);
                                -ms-transform: rotate(-23deg);
                                -o-transform: rotate(-23deg);
                                -webkit-transform: rotate(-23deg);
                                transform: rotate(-23deg);
                            }
                        }
                    }
                }

                .right {
                    position: relative;
                    width: 50%;
                    float: left;
                    color: #fff;
                    
                    @media @mobile {
                        width: 100%;
                        float: initial;
                        margin-top: 33px;
                    }

                    .top {
                        float: left;
                        padding-bottom: 20px;
                        border-bottom: 1px solid #e96288;

                        h3 {
                            font: 900 17px @latoFont, @defaultFont;
                            margin: 15px 0;
                            padding: 0px;
                        }

                        article {
                            float: left;
                            font: normal 12px @latoFont, @defaultFont;


                            h2 {
                                margin: 0px;
                                padding: 0px;
                            }

                            section.date {
                                font-size: 10px;
                            }

                            section.title, .title1 {
                                font-size: 21px;
                            }

                            section.desc {
                                float: left;
                                width: 330px;
                                margin-top: 15px;

                                p {
                                    margin: 0px;
                                }
                            }

                            section.more {
                                margin-left: 30px;
                                padding-top: 10px;
                                float: right;

                                a {
                                    -moz-transition: 0.3s linear;
                                    -o-transition: 0.3s linear;
                                    -webkit-transition: 0.3s linear;
                                    transition: 0.3s linear;
                                    background: url("@{imagesPath}/article_more.png") no-repeat;
                                    display: block;
                                    width: 34px;
                                    height: 33px;

                                    &:hover {
                                        -moz-transform: rotate(360deg);
                                        -ms-transform: rotate(360deg);
                                        -o-transform: rotate(360deg);
                                        -webkit-transform: rotate(360deg);
                                        transform: rotate(360deg);
                                    }
                                }
                            }
                        }
                    }

                    .bottom {
                        float: left;
                        margin-top: 50px;
                        font: normal 17px @latoFont, @defaultFont;
                        padding-left: 240px;
                        color: #000000;

                        @media @tablet {
                            padding: 0;
                            margin: 0;
                            width: 100%;
                            text-align: center;
                            padding-top: 78px;
                        }
                        
                        @media @mobile {
                            padding: 0;
                            margin: 0;
                            width: 100%;
                            text-align: center;
                            padding-top: 78px;
                        }

                        b {
                            font-weight: 900;

                            &.bigger {
                                font-size: 19px;
                            }
                        }
                        
                        .decoration-arrow {
                            position: absolute;
                            top: 85px;
                            left: 199px;
                            
                            @media @tablet {
                                display: none;
                            }

                            @media @mobile {
                                display: none;
                            }
                        }

                        span {
                            padding-left: 40px;

                            @media @tablet, @mobile {
                                padding: 0;
                            }
                        }

                        a {
                            -moz-transition: .2s linear;
                            -o-transition: .2s linear;
                            -webkit-transition: .2s linear;
                            transition: .2s linear;
                            left: 120px;
                            position: absolute;
                            display: block;
                            margin: 0 auto;
                            width: 71px;
                            height: 67px;
                            background: url("@{imagesPath}/subpage_map.png") no-repeat;
                            bottom: -15px;
                            
                            @media @tablet {
                                left: 140px;
                                top: 11px;
                            }
                            
                            @media @mobile {
                                left: 124px;
                                top: 11px;
                            }

                            &:hover {
                                -moz-transform: rotate(38deg);
                                -ms-transform: rotate(38deg);
                                -o-transform: rotate(38deg);
                                -webkit-transform: rotate(38deg);
                                transform: rotate(38deg);
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        position: relative;
        padding-bottom: 175px;
        float: left;
        width: 100%;

        .left {
            font: normal 12px @latoFont, @defaultFont;
            width: 350px;
            float: left;

            @media @tablet {
                float: none;
                margin: 0 auto;
                text-align: center;
            }

            @media @mobile {
                width: 100%;
                float: initial;
                text-align: center;
            }
            
            .adress {
                @media @mobile {
                    display: none;
                }
                
                span {
                    padding-right: 16px;
                }

                a {
                    background: url("@{imagesPath}/right_arrow.png") no-repeat left center;
                    padding-left: 50px;
                    font-weight: 900;
                    color: #e6215a;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .copyright {
                margin-top: 10px;
            }
        }

        nav {
            margin-top: 25px;
            float: right;
            width: @pageWidth - 400px;
            
            @media @tablet, @mobile {
                display: none;
            }

            ul {
                float: right;
            }

            ul, li {
                font: normal 12px @latoFont, @defaultFont;
                margin: 0px;
                padding: 0px;

                li {
                    list-style: none;
                    float: left;
                    padding-left: 26px;

                    a {
                        color: #2a2a2a;
                    }

                    &.active, &.current {
                        font-weight: 900;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }


    &.subPage {
        #main {
            overflow: hidden;
            border-top: 1px solid #e7e7e7;

            .pageContent {
                min-height: 350px;
                float: left;
                width: 785px;
                position: relative;

                @media @tablet, @mobile {
                    width: 100%;
                }

                #breadcrumbs {
                    font: normal 12px @latoFont, @defaultFont;
                    margin-top: 17px;
                    margin-bottom: 15px;

                    a {
                        background: url("@{imagesPath}/breadcrumb_bg.png") no-repeat 8px 5px;
                        color: #434343;
                        padding-left: 20px;

                        &.home {
                            background: none;
                            padding: 0px;
                        }

                        &.actual {
                            font-weight: 900;
                        }
                    }
                }

                h1.pageTitle {
                    letter-spacing: -1px;
                    background: url("@{imagesPath}/page_title_bg.png") no-repeat left bottom;
                    margin: 0px;
                    padding: 0px;
                    padding-bottom: 25px;
                    margin-bottom: 15px;
                }

                .content {
                    font: normal 14px @latoFont, @defaultFont;
                    width: 775px;
                    
                    @media @tablet, @mobile {
                        width: 100%;
                    }

                    >article .desc {
                        line-height: 20px;
                        text-align: center;

                        .title {
                            display: block;
                            padding-bottom: 5px;
                            font-weight: 900;
                            font-size: 15px;
                            position: relative;
                            
                            &:after {
                                content: "";
                                display: block;
                                width: 100%;
                                height: 40px;
                                margin-top: -10px;
                                background: url(images/contact_title_separator.png) no-repeat center 35px;
                            }
                        }

                        .pink {
                            color: #e41c56;
                        }
                        
                        table {
                            @media @tablet, @mobile {
                                width: 100% !important;
                                margin: 0 auto;
                                max-width: 500px;
                            }
                            
                            tbody {
                                tr {
                                    td {
                                        @media @mobile {
                                            width: 100%;
                                            float: left;
                                            
                                            &:nth-child(odd) {
                                                a {
                                                    img {
                                                        width: 317px !important;
                                                    }
                                                }
                                            }
                                            
                                            &:nth-child(2n) {
                                                a {
                                                    img {
                                                        margin-left: -3px;
                                                    }
                                                }
                                            }
                                        }
                                        
                                        a {
                                            @media @tablet, @mobile {
                                                float: left;
                                            }
                                            
                                            img {
                                                @media @tablet, @mobile {
                                                    height: auto !important;
                                                    max-width: 100%;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    article {
                        overflow: hidden;
                        text-align: left;
                        padding-bottom: 15px;
                        margin-bottom: 20px;
                        font: normal 12px @latoFont, @defaultFont;

                        h2, p {
                            margin: 0px;
                            padding: 0px;
                        }

                        section.title, .title1 {
                            margin-top: 5px;
                            color: #e41c56;
                            font-weight: 900;
                            font-size: 17px;
                            margin-bottom: 5px;
                        }

                        section.desc {
                            color: #2a2a2a;
                            font-size: 12px;
                            line-height: 18px;
                            text-align: left;
                            font-weight: normal;

                            ul {
                                padding: 0px;
                                margin: 0px;
                                margin-top: 10px;

                                li {
                                    list-style: none;
                                    padding-left: 35px;
                                    margin-bottom: 5px;
                                    background: url("@{imagesPath}/article_list_style.png") no-repeat 17px 6px;
                                    font: normal 14px @latoFont, @defaultFont;
                                }
                            }

                            b {
                                font-weight: 900;
                            }

                            .link {
                                color: #a54360;
                                text-decoration: underline;
                            }
                        }

                        section.photo {
                            margin-top: 5px;
                            overflow: hidden;
                            float: left;
                            width: 176px;
                            height: 150px;
                            margin-right: 20px;

                            img {
                                border-radius: 10px;
                                width: 176px;
                                height: 150px;
                            }
                        }

                        aside.gallery {
                            h4 {
                                padding-top: 14px;
                                background: url("@{imagesPath}/page_title_bg.png") no-repeat left top;
                                font: 900 17px @latoFont, @defaultFont;
                            }

                            .photos {
                                padding: 0 22px;
                                
                                @media @tablet, @mobile {
                                    padding: 0;
                                }

                                .row {
                                    margin-bottom: 21px;
                                    float: left;

                                    @media @mobile {
                                        margin-bottom: 0;
                                    }

                                    .photoContent {
                                        cursor: pointer;
                                        position: relative;
                                        float: left;
                                        width: 160px;
                                        height: 118px;
                                        margin-right: 30px;

                                        @media @tablet {
                                            margin-right: 20px;
                                        }
                                        
                                        @media @mobile {
                                            width: 150px;
                                            height: 110px;
                                            margin-right: 10px;
                                            margin-bottom: 10px;
                                        }

                                        &.last {
                                            margin-right: 0;
                                        }

                                        .mask {
                                            display: none;
                                            position: absolute;
                                            left: 1px;
                                            width: 160px;
                                            height: 118px;
                                            background: url("@{imagesPath}/gallery_hover.png") no-repeat;

                                            @media @tablet, @mobile {
                                                width: 100%;
                                                height: 100%;
                                                background-size: cover;
                                            }
                                        }

                                        &:hover .mask {
                                            display: block;
                                        }

                                        .photo {
                                            width: 160px;
                                            height: 118px;
                                            
                                            @media @tablet, @mobile {
                                                width: 100%;
                                                height: 100%;
                                            }

                                            img {
                                                width: 160px;
                                                height: 118px;
                                                border-radius: 10px;

                                                @media @tablet, @mobile {
                                                    width: 100%;
                                                    height: 100%;
                                                    object-fit: cover;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .articles {
                    min-height: 200px;
                    width: 775px;
                    
                    @media @tablet, @mobile {
                        width: 100%;
                    }

                    article {
                        float: left;
                        border-bottom: 1px solid #eed4db;
                        padding-bottom: 15px;
                        margin-bottom: 20px;
                        font: normal 12px @latoFont, @defaultFont;

                        section.title a {
                            color: #e41c56;
                            font-weight: 900;
                            font-size: 19px;
                        }

                        section.date {
                            margin-top: 5px;
                            font-size: 9px;
                            font-weight: normal;
                        }

                        section.desc {
                            color: #2a2a2a;
                            margin-top: 5px;
                            font-size: 12px;
                            font-weight: normal;

                            b {
                                font-weight: 900;
                            }

                            .link {
                                color: #a54360;
                                text-decoration: underline;
                            }
                        }

                        section.photo {
                            margin-top: 5px;
                            overflow: hidden;
                            float: left;
                            width: 160px;
                            height: 120px;
                            margin-right: 20px;

                            img {
                                border-radius: 10px;
                                width: 160px;
                                height: 120px;
                            }
                        }
                    }

                    .pager {
                        border-bottom: 1px solid #eee;
                        width: 775px;
                        padding-bottom: 40px;
                        margin-bottom: 20px;
                        margin-top: 100px;
                        float: left;

                        @media @tablet, @mobile {
                            width: 100%;
                        }

                        .pagination {
                            width: 260px;
                            margin: 0 auto;

                            .actual a {
                                font-weight: 900;
                                color: #f70a64;
                            }

                            a {
                                color: #2a2a2a;
                            }

                            .prev {
                                margin-right: 5px;
                                padding-right: 8px;
                                border-right: 1px solid #dadada;
                            }

                            .next {
                                margin-left: 5px;
                                padding-left: 8px;
                                border-left: 1px solid #dadada;
                            }
                        }
                    }
                }

                .contact {
                    text-align: center;
                    position: absolute;
                    right: -215px;
                    top: 90px;
                    height: 90px;
                    width: 140px;

                    @media @tablet, @mobile {
                        display: none;
                    }

                    a {
                        -moz-transition: 0.2s linear;
                        -o-transition: 0.2s linear;
                        -webkit-transition: 0.2s linear;
                        transition: 0.2s linear;
                        margin: 0 auto;
                        background: url("@{imagesPath}/home_contact.png") no-repeat -60px;
                        display: block;
                        width: 80px;
                        height: 70px;

                        &:hover {
                            -moz-transform: rotate(-23deg);
                            -ms-transform: rotate(-23deg);
                            -o-transform: rotate(-23deg);
                            -webkit-transform: rotate(-23deg);
                            transform: rotate(-23deg);
                        }
                    }

                    span {
                        letter-spacing: -1px;
                        font: 900 14px @latoFont, @defaultFont;
                    }
                }

                .location {
                    text-align: center;
                    position: absolute;
                    right: -215px;
                    top: 225px;
                    height: 90px;
                    width: 140px;
                    
                    @media @tablet, @mobile {
                        display: none;
                    }

                    a {
                        -moz-transition: 0.2s linear;
                        -o-transition: 0.2s linear;
                        -webkit-transition: 0.2s linear;
                        transition: 0.2s linear;
                        margin: 0 auto;
                        background: url("@{imagesPath}/subpage_map.png") no-repeat;
                        display: block;
                        width: 71px;
                        height: 67px;

                        &:hover {
                            -moz-transform: rotate(38deg);
                            -ms-transform: rotate(38deg);
                            -o-transform: rotate(38deg);
                            -webkit-transform: rotate(38deg);
                            transform: rotate(38deg);
                        }
                    }

                    span {
                        letter-spacing: -1px;
                        font: 900 14px @latoFont, @defaultFont;
                    }
                }
            }
        }

        footer {
            nav {
                width: 450px;

                ul {
                    li {
                        padding-left: 15px;

                        a {
                            color: #323232;
                        }
                    }
                }
            }
        }

        &.our-team {
            #main {
                .pageContent {
                    width: 100%;
                    
                    .contact {
                        right: 0;
                    }
                    
                    .location {
                        right: 0;
                    }
                    
                    .content {
                        width: 100%;
                    }
                }
            }
            
            .employees {
                .main-photo {
                    width: 775px;
                    
                    @media @tablet {
                        width: 100%;
                    }

                    @media @mobile {
                        width: 640px;
                        margin-left: -160px;
                    }
                    
                    img {
                        @media @tablet {
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                        }
                        
                        @media @mobile {
                            width: 100%;
                            border-radius: 10px;
                        }
                    }
                }

                .employee {
                    position: relative;
                    overflow: hidden;
                    margin-top: 28px;
                    padding-bottom: 50px;
                    border-bottom: 1px solid #eeeeee;
                    width: 100%;

                    &:first-child {
                        margin-top: 46px;
                    }

                    &:last-child {
                        margin-bottom: 20px;
                    }

                    .name {
                        position: absolute;
                        top: 0;
                        left: 195px;
                        line-height: 25px;
                        font-size: 17px;
                        color: #e41c56;
                        font-weight: 700;
                        
                        @media @mobile {
                            left: 150px;
                        }
                    }

                    .photo {
                        position: relative;
                        width: 176px;
                        height: 181px;
                        overflow: hidden;
                        border-radius: 9px;
                        cursor: pointer;

                        @media @mobile {
                            width: 140px;
                            height: 150px;
                        }

                        &.has-large-photo:after {
                            width: 100%;
                            height: 100%;
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            background: rgba(228, 28, 86, 0.46) url("@{imagesPath}/magnifier.png") 50% 50% no-repeat;
                            opacity: 0;
                            border-radius: 9px;
                            transition: opacity 0.2s linear;
                        }

                        &.has-large-photo:hover:after {
                            opacity: 1;
                        }

                        img {
                            @media @mobile {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }

                    .photo,
                    .description,
                    .position-with-specializations {
                        float: left;
                    }

                    .description,
                    .position-with-specializations {
                        margin-top: 45px;
                        color: #2a2a2a;
                        font-size: 12px;
                        line-height: 21px;
                        font-weight: 400;
                    }

                    .description {
                        margin-left: 19px;
                        width: 500px;
                        column-count: 2;
                        column-gap: 20px;
                        float: left;
                        
                        @media @tablet {
                            width: 265px;
                            column-count: 1;
                            float: right;
                            margin-top: 0px;
                        }

                        @media @mobile {
                            margin-left: 0;
                            width: 100%;
                            column-count: 1;
                            margin-top: 20px;
                        }

                        p {
                            margin: 0;
                            padding: 0;
                        }
                    }

                    .position-with-specializations {
                        margin-left: 20px;
                        width: 265px;
                        float: left;

                        @media @tablet {
                            width: 220px;
                        }
                        
                        @media @mobile {
                            margin-left: 0;
                            width: 100%;
                            margin-top: 20px;
                        }

                        .item {
                            &:first-child {
                                margin-bottom: 8px;

                                .text {
                                    font-weight: 700;
                                }
                            }

                            > .title {
                                font-weight: 700;
                                color: #e92d84;
                            }
                        }
                    }
                }
            }
        }
    }

    input {
        position: relative;
        top: 20px;
        padding: 0 5px;
        width: 178px;
        height: 30px;
        border: 1px solid #8f8c8c;
        border-radius: 5px;
    }

    textarea {
        padding: 5px;
        position: relative;
        top: 20px;
        display: block;
        width: 395px;
        height: 125px;
        border: 1px solid #8f8c8c;
        border-radius: 5px;
    }

    input[type="submit"] {
        color: #fff;
        font: 900 13px @latoFont, @defaultFont;
        left: 320px;
        top: 30px;
        width: 94px;
        height: 35px;
        border: none;
        background: url("@{imagesPath}/form_button.png") no-repeat left top;
    }

    label {
        color: #2a2a2a;
        font: normal 14px @latoFont, @defaultFont;
        position: absolute;
    }

    form {
        .row {
            margin-bottom: 10px;
            height: 55px;

            .inputArea {
                float: left;
                position: relative;

                &:first-child {
                    margin-right: 28px;
                }

                .desc {
                    margin-bottom: 10px;
                    height: 55px;
                }
            }
        }
    }
}

// gallery show photo

#colorbox {
    @media @mobile, @tablet {
        top: 0 !important;
        left: 0px !important;
        position: fixed !important;
        width: 100% !important;
        height: 100% !important;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    }
    
    #cboxWrapper {
        @media @tablet {
            max-height: 800px !important;
            max-width: 500px !important;
            position: static !important;
        }
        
        @media @mobile {
            height: 500px !important;
            width: 320px !important;
            position: static !important;
        }

        #cboxMiddleLeft {
            @media @mobile, @tablet {
                height: 100% !important;
            }
        }

        #cboxContent {
            @media @mobile, @tablet {
                width: 100% !important;
                height: 100% !important;
            }

            #cboxLoadedContent {
                @media @mobile, @tablet {
                    width: 100% !important;
                    height: 100% !important;
                }

                .cboxPhoto {
                    @media @mobile, @tablet {
                        padding: 0 !important;
                        width: 100% !important;
                        height: 100% !important;
                        object-fit: cover !important;
                    }
                }
                
                #kontakt-form {
                    @media @mobile, @tablet {
                        .row {
                            margin-bottom: 10px;
                            height: auto;
                            width: 100%;
                            float: left;

                            .inputArea {
                                margin-right: 0;
                                height: 100%;
                                width: 100%;
                                display: inline-block;

                                label {
                                    position: static;
                                }

                                input {
                                    position: static;
                                    top: auto;
                                    float: left;
                                    width: calc(100% - 20px);
                                }
                            }
                        }

                        .desc {
                            label {
                                position: static;
                            }

                            textarea {
                                width: calc(100% - 20px);
                                position: static;
                                float: left;
                                margin-bottom: 20px;
                            }

                            input[type="submit"] {
                                position: static;
                                float: left;
                            }
                        }
                    }
                }
            }

            #cboxTitle {
                @media @mobile, @tablet {
                    width: 100% !important;
                    padding: 0 !important;
                    border-top-right-radius: 10px !important;
                    border-top-left-radius: 10px !important;
                }
            }
        }
    }
}

iframe {
    max-width: 100%;

    @media @mobile {
        max-height: 250px;
    }
}