<!DOCTYPE html>
<html>
<head>

{% block stylesheets %}
	<style type="text/css">
	
	
	
	</style>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript"></script>
{% endblock %}

</head>

<body>

{% block body %}

{% endblock %}

</body>

</html>