{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block actions %}
    <div class="sonata-actions">
        <ul>
            {% if admin.hasRoute('create') and admin.isGranted('CREATE')%}
                <li class="btn"><a href="{{ admin.generateUrl('create') }}">{% trans from 'SonataAdminBundle' %}link_action_create{% endtrans %}</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block side_menu %}{{ knp_menu_render(admin.sidemenu(action), {}, 'list') }}{% endblock %}

{% block list_table %}


    {% set batchactions = admin.batchactions %}
    {% if admin.datagrid.results|length > 0 %}
    
    
    
        <form action="{{ admin.generateUrl('batch', admin.filterParameters) }}" method="POST" >
            <table class="zebra-striped bordered-table">
                {% block table_header %}
                    <thead>
                        <tr class="sonata-ba-list-field-header">
                            {% for field_description in admin.list.elements %}
                                {% if field_description.getOption('code') == '_batch' and batchactions|length > 0%}
                                    <th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">
                                      <input type="checkbox" id="list_batch_checkbox" />
                                    </th>
                                {% else %}
                                    {% set sortable = false %}
                                    {% if field_description.options.sortable is defined and field_description.options.sortable%}
                                        {% set sortable             = true %}
                                        {% set current              = admin.datagrid.values._sort_by == field_description.options.sortable %}
                                        {% set sort_parameters      = admin.modelmanager.sortparameters(field_description, admin.datagrid) %}
                                        {% set sort_active_class    = current ? 'sonata-ba-list-field-order-active' : '' %}
                                        {% set sort_by              = current ? admin.datagrid.values._sort_order : field_description.options._sort_order %}
                                    {% endif %}

                                    {% spaceless %}
                                        <th class="sonata-ba-list-field-header-{{ field_description.type}} {% if sortable %} sonata-ba-list-field-header-order-{{ sort_by|lower }} {{ sort_active_class }}{% endif %}">
                                            {% if sortable %}<a href="{{ admin.generateUrl('list', sort_parameters) }}">{% endif %}
                                            {{ admin.trans(field_description.label) }}
                                            {% if sortable %}</a>{% endif %}
                                        </th>
                                    {% endspaceless %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                {% endblock %}

                {% block table_body %}
                    <tbody>
                        {% for object in admin.datagrid.results %}
                            <tr>
                                {% for field_description in admin.list.elements %}
                                    {{ object|render_list_element(field_description) }}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                {% endblock %}

                {% block table_footer %}
                    {% if admin.datagrid.pager.haveToPaginate() %}
                        <tr>
                            <td colspan="{{ admin.list.elements|length }}" class="pager">

                                <div class="pagination">
                                  <ul>

                                      {% if admin.datagrid.pager.page != 1  %}
                                          <li><a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, 1)) }}" title="{% trans from 'SonataAdminBundle' %}link_first_pager{% endtrans %}">&laquo;</a></li>
                                      {% endif %}

                                      {% if admin.datagrid.pager.page != admin.datagrid.pager.previouspage %}
                                          <li><a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, admin.datagrid.pager.previouspage)) }}" title="{% trans from 'SonataAdminBundle' %}link_previous_pager{% endtrans %}">&lsaquo;</a></li>
                                      {% endif %}

                                      {# Set the number of pages to display in the pager #}
                                      {% for page in admin.datagrid.pager.getLinks(5) %}
                                          {% if page == admin.datagrid.pager.page %}
                                              <li class="active"><a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, page)) }}">{{ page }}</a></li>
                                          {% else %}
                                              <li><a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, page)) }}">{{ page }}</a></li>
                                          {% endif %}
                                      {% endfor %}

                                      {% if admin.datagrid.pager.page != admin.datagrid.pager.nextpage %}
                                          <li><a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, admin.datagrid.pager.nextpage)) }}" title="{% trans from 'SonataAdminBundle' %}link_next_pager{% endtrans %}">&rsaquo;</a></li>
                                      {% endif %}

                                      {% if admin.datagrid.pager.page != admin.datagrid.pager.lastpage  %}
                                          <li><a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, admin.datagrid.pager.lastpage)) }}" title="{% trans from 'SonataAdminBundle' %}link_last_pager{% endtrans %}">&raquo;</a></li>
                                      {% endif %}

                                  </ul>
                                </div>

                            </td>
                        </tr>
                    {% endif %}
                {% endblock %}
            </table>

            {% if batchactions|length > 0%}
                <script type="text/javascript">
                    jQuery(document).ready(function($){
                       $('#list_batch_checkbox').click(function(){
                           $(this).closest('table').find("td input[type='checkbox']").attr('checked', $(this).is(':checked'));
                       });
                       $('.delete_link').click(function(e){
                          if (!confirm('{% trans from 'SonataAdminBundle' %}confirm_msg{% endtrans %}')) e.preventDefault();
                       });
                    });
                </script>

                <div class="actions sonata-ba-list-actions">
                    <select name="action">
                        {% for action, options in batchactions %}
                            <option value="{{ action }}">{{ options.label }}</option>
                        {% endfor %}
                    </select>

                    <label>
                        <input type="checkbox" name="all_elements"/>
                        {% trans from 'SonataAdminBundle' %}all_elements{% endtrans %}
                    </label>

                    <input type="submit" class="btn primary" value="{% trans from 'SonataAdminBundle' %}btn_batch{% endtrans %}" />
                </div>
            {% endif %}
        </form>
    {% else %}
        <p class="notice">
          {% trans from 'SonataAdminBundle' %}no_result{% endtrans %}
        </p>
    {% endif %}
{% endblock %}

{% block list_filters %}



    {% if admin.datagrid.filters %}
    
    {% set filters_hidden = true %}
    {% for filter in admin.datagrid.filters %}
    	
    	{% if filter.value.value != null %}
    	{% set filters_hidden = false %}
    	{% endif %}
    {% endfor %}
    
        <form class="sonata-filter-form form-stacked {{ admin.isChild and 1 == admin.datagrid.filters|length ? 'hide' : '' }}" action="{{ admin.generateUrl('list') }}" method="GET">
            <fieldset class="filter_legend">
                <legend class="filter_legend">{% trans from 'SonataAdminBundle' %}label_filters{% endtrans %}</legend>

                <div class="filter_container" {% if filters_hidden %}style="display:none"{% endif %}>
                    <table>
                        <tr>
                            <td>
                                <table class="bordered-table">
                                    {% for filter in admin.datagrid.filters %}
                                        <tr id="filter_{{ filter.name }}_row">
                                            <td class="filter-title">{{ admin.trans(filter.label) }}</td>
                                            <td class="filter-type">{{ form_widget(form.getChild(filter.name).getChild('type')) }}</td>
                                            <td class="filter-value">{{ form_widget(form.getChild(filter.name).getChild('value')) }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>
                            {#<td>#}
                                {#<label for="add_filter_select">{% trans from 'SonataAdminBundle' %}add_filter{% endtrans %}</label>#}
                                {#<select id="add_filter_select">#}
                                    {#{% for filter in admin.datagrid.filters %}#}
                                        {#<option value="{{ filter.name }}">{{ admin.trans(filter.name) }}</option>#}
                                    {#{% endfor %}#}
                                {#</select>#}
                            {#</td>#}
                        </tr>
                    </table>
                    {{ form_rest(form) }}

                    <input type="submit" class="btn primary" value="{% trans from 'SonataAdminBundle' %}btn_filter{% endtrans %}" />

                    <a class="btn" href="{{ admin.generateUrl('list') }}">{% trans from 'SonataAdminBundle' %}link_reset_filter{% endtrans %}</a>

                </div>
            </fieldset>

        </form>
    {% endif %}
{% endblock %}

