{% extends 'XDCmsBundle:Sonata:edit.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <script type="text/javascript">

    jQuery(function($){

      $('.tabs').tabs();
    });

    </script>
{% endblock %}

{% block form_fieldset %}
    <div class="input">
        {% if object.getWebPath() %}
            <ul class="tabs">
                <li class="active"><a href="#obrazek">Obrazek</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="obrazek">
                    {{ form_row(form['_file'])}}
                    {{ form_row(form['kolejnosc'])}}
                    {{ form_row(form['title'])}}
                    {{ form_row(form['content'])}}
                    <div class="clearfix">
                        <label class="sonata-medium">
                            Aktualne zdjęcie
                        </label>
                        <div class="input sonata-ba-field sonata-ba-field-standard-natural ">
                            <img src="{{ object.getWebPath() }}" style="max-width:650px; width: 100%; height: auto;"/>
                        </div>
                    </div>
                    <div class="clearfix">
                        <label class="sonata-medium"></label>
                        <div class="input sonata-ba-field sonata-ba-field-standard-natural ">
                            <p class="sonata-medium">Kliknij w miniaturkę aby wykadrować</p>
                        </div>
                    </div>
                    <div class="clearfix">
                        <label class="sonata-medium">
                            Miniatura - Desktop
                        </label>
                        <div class="input sonata-ba-field sonata-ba-field-standard-natural ">
                            <a href="{{ admin.generateUrl('kadruj', {'id': object.id, 'type' : 'desktop'}) }}" title="Kadruj zdjęcie" style="display: block; cursor: pointer; float: left;">
                                <img src="{{ object.getThumbWebPath('desktop') }}"/>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix">
                        <label class="sonata-medium">
                            Miniatura - Tablek
                        </label>
                        <div class="input sonata-ba-field sonata-ba-field-standard-natural ">
                            <a href="{{ admin.generateUrl('kadruj', {'id': object.id, 'type' : 'tablet'}) }}" title="Kadruj zdjęcie" style="display: block; cursor: pointer; float: left;">
                                <img src="{{ object.getThumbWebPath('tablet') }}"/>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix">
                        <label class="sonata-medium">
                            Miniatura - Urządzenia mobilne
                        </label>
                        <div class="input sonata-ba-field sonata-ba-field-standard-natural ">
                            <a href="{{ admin.generateUrl('kadruj', {'id': object.id, 'type' : 'mobile'}) }}" title="Kadruj zdjęcie" style="display: block; cursor: pointer; float: left;">
                                <img src="{{ object.getThumbWebPath('mobile') }}"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            
        {% endif %}
    </div>


 {% endblock %}