<!DOCTYPE html>
<html>
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>{% block title %}{{ config.seo_title }}{% endblock %}</title>
		<meta name="Description" content="{% block description %}{{ config.seo_description }}{% endblock %}" />
        <meta name="Keywords" content="{% block keywords %}{{ config.seo_keywords }}{% endblock %}" />

        {% block stylesheets %}

	        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,300,400,800italic,800' rel='stylesheet' type='text/css' />
	        <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
            
	        <link rel="stylesheet" href="{{ asset('bundles/lmcms/normalize.css') }}"  media="all" />
	        <link rel="stylesheet" href="{{ asset('bundles/lmcms/site.css') }}"  media="all" />
	        <link rel="stylesheet" href="{{ asset('bundles/lmcms/colorbox.css') }}"  media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/lmcms/jquery.bxslider.min.css') }}"  media="all" />
	        <link rel="stylesheet" href="{{ asset('bundles/lmcms/style.css') }}"  media="all" />

	        <!--[if lte IE 9]>
			<![endif]-->
			<link rel="shortcut icon" href="{{ asset('bundles/lmcms/images/favicon.ico') }}" />
        {% endblock %}

        {% block javascripts %}

	    <script type="text/javascript">
			var base_url = '{{ app.request.baseUrl }}';
			var contact_form_url = '{{ path('lm_cms_default_contact') }}';
		</script>


        <script src="{{ asset('bundles/lmcms/js/jquery-1.9.1.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/lmcms/js/jquery.form.js') }}" type="text/javascript"></script>
        
        <script src="{{ asset('bundles/lmcms/js/jquery.bxslider.min.js') }}" type="text/javascript"></script>
        
        {#<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.3.27/jquery.colorbox.js"></script>#}
        <script src="{{ asset('bundles/lmcms/js/jquery.colorbox.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/lmcms/js/jquery.colorbox-pl.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/lmcms/js/helper.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/lmcms/js/less-1.3.3.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/lmcms/js/jquery.cookie-1.4.1.min.js') }}" type="text/javascript"></script>


        <script type="text/javascript" src="{{ asset('bundles/lmcms/js/scripts.js') }}"></script>

		 {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">

    {% block body %}
        <div class="header-top">
            <div class="container">
                <div class="header-top-content">
                    <div class="header-top-left">
                        COSMODENT - Stomatologia i Medycyna estetyczna
                    </div>

                    <div class="header-top-left">
                        <span>{{ config.tekst_stopka_adres|raw }}</span>
                    </div>

                    <div class="header-top-right">
                        <div class="phone-info">
                            <div class="phone-registration">Rejestracja</div>

                            <a class="phone-number" href="tel:{{ config.tekst_strona_glowna_telefon }}">{{ config.tekst_strona_glowna_telefon }}</a>
                        </div>

                        <div class="sociales">
                            <a class="facebook" href="{{ config.link_facebook }}" target="_blank">
                                <img src="{{ asset('bundles/lmcms/images/facebook.png') }}" alt="facebook" />
                            </a>

                            <a class="instagram" href="{{ config.link_instagram }}" target="_blank">
                                <img src="{{ asset('bundles/lmcms/images/instagram.png') }}" alt="instagram" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
	    <header>
            <div class="container">
                <div class="logo">
                    <a href="{{ path('lm_cms_default_main') }}"></a>
                </div>

                <div class="top">
                    <div class="menu">
                        <div id="mobile-menu" onclick="changeMenuState();">
                            <div class="mobile-menu-desc">Menu</div>
                            
                            <img src="{{ asset('bundles/lmcms/images/burger.png') }}" alt="burger" />
                        </div>
                        
                        <div id="menu-list">
                            <div class="mobile-menu-head">
                                <div class="container">
                                    <div class="mobile-menu-text">
                                        COSMODENT - Stomatologia i Medycyna estetyczna
                                    </div>
                                </div>
                            </div>

                            <div class="container">
                                <div class="mobile-close-menu" onclick="changeMenuState();">
                                    <div class="mobile-close-desc">Zamknij</div>

                                    <img src="{{ asset('bundles/lmcms/images/close-menu.png') }}" alt="close" />
                                </div>
                            </div>
                            
                            <div class="menu-container">
                                {% render "XDCmsBundle:Menu:managed" with {location: 'menu_gorne'} %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
	    </header>

	    {% block content %}

        {% endblock %}


        <footer>
            <div class="container">
                <div class="left">
                    <div class="adress">
                        <span>{{ config.tekst_stopka_adres|raw }}</span>
                        <a href="{{ path('lm_cms_strony_show', {slug: 'kontakt'} ) }}">Przejdź do mapki</a>
                    </div>
                    
                    <div class="copyright">
                        {{ config.tekst_stopka_copyright|raw }}
                    </div>
                </div>

                <nav>
                    {% render "XDCmsBundle:Menu:managed" with {location: 'menu_dolne'} %}
                </nav>
            </div>
        </footer>


	{% endblock %}

	{% block javascripts_bottom %}

	    {% if 'local' not in app.request.host %}
			{{ config.kod_analytics|raw }}
		{% endif %}

	{% endblock %}

    </body>


</html>