{% extends base_template %}


{%  block content %}

<div class="container-fluid">

	<div class="sidebar">
    
    	{% if auth %}
			Autoryzacja Google : <span class="label success">OK!</span>
		{% elseif error %}
			Autoryzacja Google: <span class="label important">Błąd!</span>
		{% else %}
			Autoryzacja Google: <span class="label ">Brak</span>
		{% endif %}
     
    </div>

	<div class="content" style="margin-left:240px">
	{% if error %}
		<div class="alert-message error">
			Błąd autoryzacji: {{ error }}
			</div>
	{% endif %}
		

	{% if not auth %}

		<a href="{{ auth_url }}">Zaloguj się do Google</a>
	
	{% endif %}
	
	
	{% if auth %}
	
		tutaj statystyki ...
	
	{% endif %}
	
      
    </div>
    
    
  </div>

	

	

{%  endblock %}