
.link {
	color: #a54360;
	text-decoration: underline;
}

.pink {
	color: #e41c56;
}

.title1 {
	color: #e41c56;
	font-weight: 900;
	font-size: 17px;
}

.title {
	display: block;
	padding-bottom: 30px;
	background: url(../images/contact_title_separator.png) no-repeat center 35px;
	font-weight: 900;
	font-size: 15px;
}

ul.wypunktowanie {
	padding: 0px;
	margin: 0px;
	margin-top: 10px;
}

ul.wypunktowanie li {

	list-style: none;
	padding-left: 35px;
	margin-bottom: 5px;
	background: url(../images/article_list_style.png) no-repeat 17px 6px;

}