{%  extends "XDCmsBundle:Sonata:edit.html.twig" %}

{%  block javascripts %}
	{{ parent() }}

	<script type="text/javascript">

		var edit_admin_uniqid = '{{ admin.uniqid }}';
		var form_id = '{{ admin.uniqid }}_form';
		var searchServices = JSON.parse('{{ form['searchServices'].vars.value|raw }}');
		var routeParameters = '{{ form['routeParameters'].vars.value|raw }}';
		
		var anchor = $('#{{ admin.uniqid }}_anchor');
		var title = $('#{{ admin.uniqid }}_title');
		
		var anchor_init_val = anchor.val();
		var title_init_val = title.val();
		
		jQuery(function(){

			$('#sonata-ba-field-container-{{ admin.uniqid }}_routeParameters').hide();
			$('#{{ admin.uniqid }}_type')
				.change(function(){

					// hide all choices
					$('#sonata-ba-field-container-{{ admin.uniqid }}_route').hide();
					$('#sonata-ba-field-container-{{ admin.uniqid }}_url').hide();

					// show only selected
					val = $(this).val();
					$('#sonata-ba-field-container-{{ admin.uniqid }}_'+val).show();

					if(val == 'url') {
						$('#sonata-ba-field-container-{{ admin.uniqid }}_routeParameters').hide();
					}

				})
				.change();

			$('#{{ admin.uniqid }}_routeParameters')
				.change(function(){
					rute_title = $(this).find('option:selected').html();

					
					
					if(anchor.val() == '' || anchor_init_val == '') {
						anchor.val(rute_title)
					}
					if(title.val() == '' || title_init_val == '' ) {
						title.val(rute_title)
					}
						
				}
			);
			

			$('#{{ admin.uniqid }}_route')
			.change(function(){
				$('#sonata-ba-field-container-{{ admin.uniqid }}_routeParameters').hide();
				current_route = $(this).val();
				// show routeParameters select if module is searchable
				if($('#sonata-ba-field-container-{{ admin.uniqid }}_route').is(':visible')) {
					if ( searchServices[current_route] != null ) {
						$('#sonata-ba-field-container-{{ admin.uniqid }}_routeParameters').show();
						populateRouteParametersSelect();
					};
				}
			})
			.change();

			

			
		});

		

	</script>
	
	{% if app.request.isxmlhttprequest %}
	<script type="text/javascript">
	
	$('form#'+form_id).submit(function(e){
		e.preventDefault();
	
		action = $('form#'+form_id).attr('action');
		data = $('form#'+form_id).serialize();
		
		console.log(action);
		console.log(data);
		
		$.ajax({
			type: 'POST',
			url: action,
			data: data,
			success: function(ret) {
				if(ret.result == 'ok') {


					$('form#'+form_id + ' > div.success').slideDown();
					setTimeout(function(){
						$('form#'+form_id + ' > div.success').slideUp();	
					}, 2000)
					
					if( (saveMenuItemCallback != undefined ) && ( typeof saveMenuItemCallback == 'function' ) ) {
						saveMenuItemCallback(ret);
					} else {
						alert('ok');
					}
					
				} else {
					$('form#'+form_id).parent('div').html(ret);
				}
				
			}
		})
	});
	
	</script>
	{% endif %}
	
	
{%  endblock %}

{% block form %}

    {% set url = admin.id(object) ? 'edit' : 'create' %}

        <form id="{{ admin.uniqid }}_form" action="{{ admin.generateUrl(url, {'id': admin.id(object), 'uniqid': admin.uniqid}) }}" {{ form_enctype(form) }} method="POST" novalidate>

        <div class="alert-message success" style="display:none;">{% trans from 'SonataAdminBundle' %}flash_edit_success{% endtrans %}</div>
        
            {% if form.vars.errors|length > 0 %}
                <div class="sonata-ba-form-error">
                    {{ form_errors(form) }}
                </div>
            {% endif %}

            {{ form_row(form['anchor'])}}
            {{ form_row(form['title'])}}
            {{ form_row(form['location'])}}
            {{ form_row(form['type'])}}
            {{ form_row(form['url'])}}
            {{ form_row(form['route'])}}
            {{ form_row(form['routeParameters'])}}
           
            {{ form_row(form['attributes'])}}
			
			
		
			
            <div style="display:none">
            	{{ form_row(form['searchServices']) }}
            </div>
            
            {{ form_rest(form) }}

            <div class="actions">
                {% if app.request.isxmlhttprequest %}
                    {% if admin.id(object) %}
                        <input  type="submit" class="btn primary" name="btn_update" value="{% trans from 'SonataAdminBundle' %}btn_update{% endtrans %}"/>
                    {% else %}
                        <input type="submit" class="btn" name="btn_create" value="{% trans from 'SonataAdminBundle' %}btn_create{% endtrans %}"/>
                    {% endif %}
                    
                    {% if admin.hasroute('delete') and admin.isGranted('DELETE') %}
                            {% trans from 'SonataAdminBundle' %}delete_or{% endtrans %}
                            <a class="btn danger" href="{{ admin.generateObjectUrl('delete', object) }}">{% trans from 'SonataAdminBundle' %}link_delete{% endtrans %}</a>
                        {% endif %}
                {% else %}
                    {% if admin.id(object) %}
                        <input type="submit" class="btn primary" name="btn_update_and_edit" value="{% trans from 'SonataAdminBundle' %}btn_update_and_edit_again{% endtrans %}"/>
                        <input type="submit" class="btn" name="btn_update_and_list" value="{% trans from 'SonataAdminBundle' %}btn_update_and_return_to_list{% endtrans %}"/>

                        {% if admin.hasroute('delete') and admin.isGranted('DELETE') %}
                            {% trans from 'SonataAdminBundle' %}delete_or{% endtrans %}
                            <a class="btn danger" href="{{ admin.generateObjectUrl('delete', object) }}">{% trans from 'SonataAdminBundle' %}link_delete{% endtrans %}</a>
                        {% endif %}
                    {% else %}
                        <input class="btn primary" type="submit" name="btn_create_and_edit" value="{% trans from 'SonataAdminBundle' %}btn_create_and_edit_again{% endtrans %}"/>
                        <input class="btn" type="submit" name="btn_create_and_create" value="{% trans from 'SonataAdminBundle' %}btn_create_and_create_a_new_one{% endtrans %}"/>
                    {% endif %}
                {% endif %}
            </div>
        </form>

{% endblock %}