{% extends '::base.html.twig' %}

{% block title %}Welcome on main page!{% endblock %}


{% block body %}

<h1>This is very new brand CMS :D</h1>

<ul>
    <li>It's light </li>
    <li>It's fast </li>
    <li>It's object-oriented</li>
    <li>It's easy to extend</li>
    <li>It's open source ;D</li>
    <li>Feel free to use ;d</li>

    
</ul>


<div>
    <h2>The list of pages: </h2>
    
    {% render "XDCmsBundle:Page:list" with {}, {'standalone': true } %}

</div>

{% endblock %}


