{%  extends "XDCmsBundle:Sonata:list.html.twig" %}

{%  block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/xdcms/js/jquery.ui.nestedSortable.js') }}" type="text/javascript"></script>
	<script type="text/javascript">
	
	var serialized = null;
	var arraied = null;

	var edit_url = '{{ path('admin_xd_cms_menuitem_edit', {id: 'ID'}) }}';
	var add_url = '{{ path('admin_xd_cms_menuitem_create') }}';
	var list_url = '{{ path('admin_xd_cms_menuitem_list') }}';
	var run_after_edit_callback = false;
	var current_menu = '';
	var current_route = '';
	
	jQuery(function(){


		bindSortableEvents();


	});

	function populateRouteParametersSelect() {


		select_element = $('#' + edit_admin_uniqid + '_routeParameters');

		$.ajax({
			type: 'POST',
			dataType: 'html',
			url: '{{ admin.generateUrl('routeparameters') }}',
			data: {
					route: current_route,
					search: ''
				},
			success: 
				function(ret) {
					console.log('success: '+ret);
					select_element.html(ret);
					select_element.find('option').removeAttr('selected');
					select_element.find('option[value="'+ routeParameters +'"]').attr('selected', 'selected');
			}
		});

	}
	

	function saveMenuItemCallback(ret) {
		if(ret.result =='ok' ) {
			id = ret.objectId;

			// zapisanie kolejności i odświeżenie listy

			if( $('div.editing').parent().hasClass('new') ) {
				$('div.editing').parent().attr('id', 'list_' + id);
			}
			run_after_edit_callback = true;
			$(".menuitems_saveorder_button").each(function(){
				if(!$(this).hasClass('disabled') || $(this).parent().find('#list_' + id).size() > 0 ) {
					$(this).click();
				}
			});

		}
	}

	function bindSortableEvents() {

		$('.pills').pills().bind('change', function (e) {

			current_menu = $(e.target).attr('id');
			
		});

		if(current_menu.length) {
			$('#'+current_menu).click();
		}
		

		$(".menuitems_saveorder_button").click(function(){
			// ajax zapisujący kolejność 
			
			arraied = $(this).parent().find('ol.sortable').nestedSortable('toArray', {startDepthCount: 0});

			$.ajax({
				type: 'POST',
				url: '{{ admin.generateUrl('saveorder') }}',
				data: {	elements : arraied },
				complete: 
					function(response) {

						if (run_after_edit_callback) {
							$('#menu-edit-lists').load(list_url + ' #menu-edit-lists > *', function(){
								bindSortableEvents();
								
							});
							run_after_edit_callback = false;
						}
				}
			});
			
			$(this).addClass('disabled').attr('disabled', 'disabled')
		
			
		});

		$('ol.sortable').nestedSortable({
			disableNesting: 'no-nest',
			forcePlaceholderSize: true,
			handle: 'div',
			helper:	'clone',
			items: 'li',
			maxLevels: 2,
			opacity: .8,
			placeholder: 'placeholder',
			revert: 250,
			tabSize: 25,
			tolerance: 'pointer',
			toleranceElement: '> div',
			errorClass: 'error',
			stop: function(event, ui) {
				 // $("#menuitems_saveorder_button").removeClass('disabled').removeAttr('disabled')
				 $(this).parents('div.tab-pane').find('.menuitems_saveorder_button').removeClass('disabled').removeAttr('disabled');
			}
		});

		$('ol.sortable li div').click(function(){

			$('ol.sortable li div').removeClass('editing');
			$(this).addClass('editing');
			id = $(this).parent('li').attr('id').substr(5,100);

			if(id.substr(0,3) == 'new') {
				
				$('#menu_item_edit').load(add_url, function(data){
					$('#'+edit_admin_uniqid+'_location').val(id.substr(4,100));
				});	
			} else {
				url = edit_url.replace('ID', id);
				$('#menu_item_edit').load(url);
			}
			 
			
		});
		
		
	}

	</script>
	
{%  endblock %}

{% block nested_list_elements %}
	{% for element in elements %}
		<li id="list_{{ element.id }}">
			<div>{{ element.title }}</div>
		{% if element.getChildItems|length > 0 %}
		<ol>
			{% set elements = element.getChildItems %}
			{{ block('nested_list_elements')}}
		</ol>
		{% endif %}
		</li>
	{% endfor %}
{% endblock %}


{% block list_table %}
	
	<div id="test"></div>
	
	<div id="menu-edit-lists">
	
		
		<ul class="pills">
		{% for mname, menu in menus %}
			 <li class="{% if loop.first %}active{% endif %}"><a id="a_{{ mname }}" href="#menu-{{ mname }}">{{ menu.label }}</a></li>
		{% endfor %}
		</ul>
	
		<div class="tab-content">
			{% for mname, menu in menus %}
			<div id="menu-{{ mname }}" class="tab-pane {% if loop.first %}active{% endif %}">
				<ol class="sortable breadcrumb">	
					{% set elements = menu.menuItems %}
					{{ block('nested_list_elements') }}
					<li class="new no-nest" id="list_new_{{ mname }}"><div>Dodaj nowy ...</div> </li>
				</ol>
				
				<p><span class="label notice ">{{ 'Drag menu items to set order' |trans({}, 'XDCmsBundle') }}</span></p> 
				<input type="button" class="menuitems_saveorder_button btn disabled" value="{{ 'Save order'|trans({}, 'XDCmsBundle') }}" disabled  />
				
			</div>
			{% endfor %}
			
			
			
		</div>
		
		
		
	</div>
	
	<div id="menu_item_edit" style="">
	
	</div>
	
	<div style="clear:both;">
	</div>
                    
{% endblock %}

{% block footer %}

{% endblock %}

{% block actions %}{% endblock %}

