
{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
	{% if object.getWebPath %}
	<img src="{{ asset(object.getWebPath) }}" alt="" style="max-height:100px;max-width:300px;" />
	{% endif %}
{% endblock %}

