<div id="content" class="clear">
    <div class="offices">
        
        <div class="item">
            <div class="header">
                <a class="link" href="http://rzeszow.cosmodent.com.pl" title="Gabinet w Rzeszowie"></a>
                <div class="shadow"></div>
                <a class="text" href="http://rzeszow.cosmodent.com.pl" title="Gabinet w Rzeszowie">
                    Gabinet<br/>w Rzeszowie
                </a>
                
                <a class="text text-mobile" href="http://rzeszow.cosmodent.com.pl" title="Gabinet w Rzeszowie">
                    Rzeszów
                </a>
            </div>
            <div class="address">
                Rzeszów, ul. Strażacka 12d/2<br/>(1. piętro)
            </div>
            <div class="phone">
                <img src="img/ico-phone.png" alt="Telefon"/>
                
                <a href="tel:698 902 233">
                    698 902 233
                </a>
            </div>
        </div>
        
        <div class="item">
            <div class="header">
                <a class="link" href="http://lancut.cosmodent.com.pl" title="Gabinet w Łańcucie"></a>
                <div class="shadow"></div>
                <a class="text" href="http://lancut.cosmodent.com.pl" title="Gabinet w Łańcucie">
                    Gabinet<br/>w Łańcucie
                </a>
                
                <a class="text text-mobile" href="http://lancut.cosmodent.com.pl" title="Gabinet w Łańcucie">
                    Łańcut
                </a>
            </div>
            <div class="address">
                Łańcut, ul. Piłsudskiego 52
            </div>
            <div class="phone">
                <img src="img/ico-phone.png" alt="Telefon"/>
                
                <a href="tel:730 965 666">
                    730 965 666
                </a>
            </div>
        </div>
        
        <span class="clear"></span>
    </div>
</div>