        <div class="popup-wrapper" style="display: none;">
            <div class="popup">
                <div class="inside">
                    <div class="header1">Dziękujęmy,</div>
			<div class="header2">za okazanie nam zaufania!</div>
			<div class="info">
				Aby przesłać treść formularza, prosimy o akceptację <br/>dwóch poniższych oświadczeń:
			</div>
			<div class="oswiadczenie">
			Oświadczam, że jestem użytkownikiem lub właścicielem wskazanego telefonu i poczty mailowej.
			</div>
			
			<div class="oswiadczenie">
			Wyrażam zgodę na wykorzystywanie wskazanego adresu mailowego dla celów informacyjnych o usługach Mediator sp.j.
			</div>
			
			<div id="contact-form-send" class="submit">
	           Zgadzam się i wysyłam
	        </div>
                </div>
            </div>
        </div>
        </div>
    </body>
</html>