<div id="footer" class="clear">
    <div class="copyright">© Copyrights 2012, <strong><a href="http://www.cosmodent.com.pl" title="COSMODENT">COSMODENT - Praktyka Stomatologiczna</a></strong></div>
    <div class="realizacja"><span>Realizacja</span> <span class="separator"></span> <a href="http://www.lemonadestudio.pl" title="www.lemonadestudio.pl" target="_blank"><img src="img/lemonade-logo.png" alt="www.lemonadestudio.pl"/></a></div>
    <div class="clear"></div>
</div>