<div id="top">
    <div class="logo">
        <a href="http://www.cosmodent.com.pl" title="Cosmodent"></a>
    </div>

    <div class="intro clear">
        <div class="header">
            <h1><span class="first">Nowoczesna</span> 
                <br/>stomatologia</h1>
        </div>
        <div class="desc">
            <p>
                <strong>Inwestujemy w nowe technologie, leczymy bez bólu 
                    <br/>i dbamy o dobro naszych pacjentów. Posiadamy trzy placówki na Podkarpaciu.
                </strong>
                <br/>Prosimy wybrać miasto, aby poznać szczegóły.
            </p>
        </div>
    </div>
</div>