{% extends 'XDCmsBundle:Sonata:edit.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/xdcms/js/jcrop/css/jquery.Jcrop.css')  }}" type="text/css" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <script src="{{ asset('bundles/xdcms/js/jcrop/js/jquery.Jcrop.js') }}" type="text/javascript"></script>


    <script type="text/javascript">

    jQuery(function($){

      $('.tabs').tabs();
      $('#obrazek-przytnij').Jcrop({
    	   //  aspectRatio:  1/1,
    	   onSelect:	 croppedAction
          }
      );

    });

    var crop = null;

    function croppedAction(c) {
    	crop = c;
    	$('#przytnij button').removeAttr('disabled');
    }

    function zapiszKadr() {
        $.ajax({
            type: 'POST',
            url:  '{{ admin.generateUrl('kadruj', {id: object.id}) }} ',
            data: {
                crop: crop
            },
            success: function(ret) {
                $('#przytnij-wynik').html(ret);
            }
        });
    }

    </script>


{% endblock %}



{% block form_fieldset %}


	{{ form_row(form['galeria'])}}
		<div class="input">
		{% if object.getWebPath() %}

		<ul class="tabs">
		  <li class="active"><a href="#obrazek">Obrazek</a></li>
		  <li><a href="#przytnij">Kadrowanie</a></li>
		</ul>
		<div class="tab-content">

            <div class="tab-pane active" id="obrazek">
              <a href="{{ asset(object.getWebPathCrop())  }}">
				<img src="{{ asset(object.getWebPathCrop() | imagine_filter('thumb_admin') ) }}" />
				</a>
            </div>

            <div class="tab-pane" id="przytnij">
            	<div id="przytnij-wynik"></div>
            	<button class="btn" name="btn_update_and_edit" onclick="zapiszKadr();return false;" disabled >Zapisz</button>
            	<br />
              	<img id="obrazek-przytnij" src="{{ asset(object.getWebPath()) }}" />
            </div>

          </div>


		{% else %}
		{% endif %}
		</div>

	{{ form_row(form['_file'])}}
	{{ form_row(form['podpis'])}}
	{{ form_row(form['kolejnosc'])}}


 {% endblock %}