#content .offices .item .header .link{
    background: transparent url('../img/link-bg-all.png') no-repeat scroll top center;
    width: 189px;
    height: 188px;
    position: relative;
    margin: 0 auto;
    display: block;
    filter: none;
}
#content .offices .item .header:hover .link{
    background: transparent url('../img/link-bg-all.png') no-repeat scroll bottom center;
    width: 156px;
    height: 156px;
    filter: none;
}
#content .offices .item .header .link:after,
#content .offices .item .header .link:before{
    display: none;
}