{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
<div class="pagination">
   
	<div class="pagination-bg"></div>
    {% for page in pagesInRange %}
        {% if page != current %}
            <span class="page round-box-shadow1 font1">
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
            </span>
        {% else %}
            <span class="current round-box-shadow1 font1">{{ page }}
            	<span class="indicator"></span>
            </span>
        {% endif %}

    {% endfor %}

  
</div>
{% endif %}
