div#userbundle-loginform {
	background: transparent url(../images/admin/login-bg.jpg) no-repeat 313px 0;
	padding-top: 95px;
	margin-top: 20px;
}

.sonata-bc a.brand img {
	height: auto
}

.sonata-bc fieldset.filter_legend {
	font-weight: bold;
	border: none;
	margin: 0;
	border-width: 1px 0 0;
	padding: 0;
	border-image: initial;
}

/* menu */

#menu-edit-lists {
	float:left;
	max-width: 40%;
	margin-right: 10px;
}

#menu-edit-lists ul, 
#menu-edit-lists ol {
	list-style-type: none;

	
}

#menu-edit-lists ol.sortable > li {
	
}

#menu-edit-lists ol.sortable > li > ol > li {
	font-size: 90%;
	line-height: 1.4em;
}

#menu-edit-lists ol.sortable > li > ol > li > ol > li {
	font-size: 90%;
	line-height: 1.4em;
}

#menu-edit-lists ol.sortable > li > ol > li > ol > li > ol > li {
	font-size: 90%;
	line-height: 1.4em;
}

#menu-edit-lists ol.sortable > li > ol > li > ol > li > ol > li > ol li {
	font-size: 90%;
	line-height: 1.4em;
}

#menu-edit-lists li > div {
	border: 1px solid #aaa;
	margin: 2px;
	background: #fff;
	padding:2px 4px;
	border-radius: 4px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	cursor: pointer;
	
	-webkit-transition: -webkit-transform 0.1s linear, box-shadow 0.1s linear;
}

#menu-edit-lists li > div.editing {
	
	color: black;
	box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.4);
	font-weight: bold;
	background: #fff url(../../sonataadmin/famfamfam/link_edit.png) no-repeat 98% 50%;
	border: 1px solid #555;
	
	-webkit-transform: scale(1.01);
	
	-webkit-transition: -webkit-transform 0.05s linear, box-shadow 0.05s linear;
	
}

#menu-edit-lists li.new > div,
#menu-edit-lists li.new > div:hover {	
	background: #efffef url(../../sonataadmin/famfamfam/link_add.png) no-repeat 98% 50%;
	
	
}
#menu-edit-lists li.new > div:hover,
#menu-edit-lists li.new > div.editing {
	border: 1px solid #00a650;
}

#menu-edit-lists li > div:hover {
	background: #fff url(../../sonataadmin/famfamfam/link_edit.png) no-repeat 98% 50%;
	border: 1px solid #0069D6;
}

#menu-edit-lists .placeholder {
	background: #d8f4ff;
	display: block;
	height: 20px;
	border-radius: 4px;
	padding: 2px 4px;
}

#menu-edit-lists .placeholder.error {
	background: #ffdfdf;
}

#menu_item_edit {
	max-width: 45%;
	float: left
}

.sonata-content  {
	padding-top:40px;
}

.sonata-bc table.sonata-ba-list {
	float:left;
	margin-right: 20px;
}