{%  extends "XDCmsBundle:Sonata:edit.html.twig" %}

{%  block javascripts %}
	{{ parent() }}

	<script type="text/javascript">
		var edytor_css  = '{{ asset('bundles/lmcms/css/editor.css') }}';

		var page_id = '{{ app.request.get('id') }}';
		var admin_id = '{{ admin.uniqid }}'
	</script>
	
	<script src="{{ asset('bundles/xdcms/js/tiny_mce/tiny_mce.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/lmcms/js/wysiwyg.js') }}" type="text/javascript"></script>
	
	<script type="text/javascript">
		

		$(function(){

		
			
		});



	</script>
	
{%  endblock %}