{% extends 'XDCmsBundle:Sonata:edit.html.twig' %}

{%  block javascripts %}
	{{ parent() }}

    <script type="text/javascript">
		var edytor_css  = '{{ asset('bundles/lmcms/css/editor.css') }}';
		var edytor_css2  = '{{ asset('bundles/lmcms/ckeditor/contents.css') }}';
		var edytor_browse_url = '{{ path('lm_cms_default_browse') }}';
	</script>

	<script src="{{ asset('bundles/lmcms/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/lmcms/ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/lmcms/js/wysiwyg2.js') }}" type="text/javascript"></script>

{%  endblock %}

{% block form_fieldset %}




	{{ form_row(form['title'])}}
	{{ form_row(form['content'])}}
	{{ form_row(form['published'])}}
	{{ form_row(form['publishDate'])}}

		<div class="input">
		{% if object.getWebPath() %}
			<a href="{{ asset(object.getWebPath())  }}">
				<img src="{{ asset(object.getWebPath() | imagine_filter('thumb_admin') ) }}" />
			</a>
		{% else %}
		{% endif %}
		</div>
	{{ form_row(form['_file'])}}
	{{ form_row(form['_delete_file'])}}
	{{ form_row(form['galeria']) }}




 {% endblock %}