
{% if message == 'sent' %}

	{{ config.tekst_formularz_podziekowanie|raw }}

{% else %}

	<form id="kontakt-form" action="{{ path('lm_cms_default_contact') }}" method="post" {{ form_enctype(form) }}  novalidate>
        <div class="row">
            <div class="inputArea">
                {{ form_label(form.imie) }}
                {{ form_widget(form.imie) }}
            </div>

            <div class="inputArea">
                {{ form_label(form.nazwisko) }}
                {{ form_widget(form.nazwisko) }}
            </div>
        </div>

        <div class="row">
            <div class="inputArea">
                {{ form_label(form.telefon) }}
                {{ form_widget(form.telefon) }}
            </div>

            <div class="inputArea">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>
        </div>

        <div class="desc">
            {{ form_label(form.tresc) }}
            {{ form_widget(form.tresc) }}
            <input type="submit" value="Wyślij" onclick="submitContactForm();return false;" />
        </div>

         {{ form_rest(form) }}



		{% if form.imie.vars.errors|length
		   or form.nazwisko.vars.errors|length
		   or form.email.vars.errors|length
		   or form.telefon.vars.errors|length
		   or form.tresc.vars.errors|length
		   or form_errors(form)
		    %}
	    <div class="div-error">
	    	Uzupełnij wymagane pola formularza
	    	{{ form_errors(form) }}
	    </div>
		{% endif %}


    </form>

    {% endif %}
