
{% if message == 'sent' %}

        <div id="main-zglos2">
			<div class="zglos1">Dziękujęmy,</div>
			<div class="zglos2">Już wkrótce skontaktujemy się z Tobą!</div>
		</div>

		{{ config.formularz_po_wyslaniu_konwersja_skrypt|raw }}

{% else %}

	<div id="main-zglos">
	<div class="zglos1">Napisz do nas,</div>
	<div class="zglos2">pomożemy!</div>
	</div>



    {% if message == 'valid' %}

    <link rel="stylesheet" href="{{ asset('bundles/lmcms/css/colorbox_reset.css') }}" type="text/css" media="all" />

    <div id="confirm-form">

    	<div class="confirm-form-wrap">


			<div class="zglos1">Dziękujęmy,</div>
			<div class="zglos2">za okazane nam zaufanie!</div>


			<div class="informacja">
				Aby przesłać treść formularza,
				prosimy o akceptację dwóch poniższych oświadczeń:
			</div>

			<div class="oswiadczenie">
			{{ config.oswiadczenie_email_poczta }}
			</div>

			<div class="oswiadczenie">
			{{ config.oswiadczenie_przetwarzanie_danych }}
			</div>

			<div id="contactform-submit" class="button1" onclick="$('#contact_potwierdzenie').val('tak');$.colorbox.close();submitContactForm();">
	           Zgadzam się i wysyłam
	        </div>

        </div>

    </div>

    <script type="text/javascript">

    $(function(){

    	$.colorbox({
        	html: $('#confirm-form').html(),
        	opacity: 0.92
        	});

    });

    </script>




    {% endif %}


<form action="" method="post" {{ form_enctype(form) }} id="kontakt-form" novalidate>

		{% if form_errors(form) %}
			<div class="form-row">
	    	{{ form_errors(form) }}
	    	</div>
		{% endif %}



        <div class="form-row form-row-input">
        {{ form_label(form.imie) }}
        {{ form_widget(form.imie) }}
        {{ form_errors(form.imie) }}
        </div>

        <div class="form-row form-row-input">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
        </div>

        <div class="form-row form-row-input">
        {{ form_label(form.telefon) }}
        {{ form_widget(form.telefon) }}
        {{ form_errors(form.telefon) }}
        </div>

        <div class="form-row form-row-textarea">
        {{ form_label(form.tresc) }}
        {{ form_widget(form.tresc) }}
        {{ form_errors(form.tresc) }}
        </div>

        {{ form_rest(form) }}

        <div id="contactform-submit" class="button1" onclick="submitContactForm()">
           Zaufaj nam!
        </div>

</form>

{% endif %}