{% extends '::base.html.twig' %}

{% block javascripts %}

	{{ parent() }}

{% endblock %}

{% block content %}
    <div id="main" class="home">
        <div class="top">
            <div class="container">
                <div class="bx-slider">
                    {% for zdjecie in zdjecia_zmieniarki %}
                        <div class="item">
                            <div class="item-content">
                                <div class="title">{{ zdjecie.title }}</div>

                                <div class="text">{{ zdjecie.content }}</div>
                            </div>

                            <img class="desktop" src="{{ zdjecie.getThumbWebPath("desktop") }}" alt="{{ zdjecie.title }}" />
                            <img class="tablet" src="{{ zdjecie.getThumbWebPath("tablet") }}" alt="{{ zdjecie.title }}" />
                            <img class="mobile" src="{{ zdjecie.getThumbWebPath("mobile") }}" alt="{{ zdjecie.title }}" />
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="offers">
                <div class="container">
                    <article class="offer">
                        <div class="offer-image">
                            {% for item in main_photo_dentistry %}
                                {% if item.getWebPath %}
                                    <img src="{{ asset(item.getWebPath()) }}" alt="{{ item.podpis }}" />
                                {% endif %}
                            {% endfor %}
                        </div>

                        <h2 class="offer-title">
                            Stomatologia
                        </h2>

                        {% render 'LmCmsBundle:Default:blok' with {slug: 'blok-strona-glowna'} %}

                        <div class="btn-more">
                            <a class="btn" href="{{ path('lm_cms_strony_show', {slug: 'stomatologia'}) }}">Więcej</a>
                        </div>
                    </article>

                    <article class="offer">
                        <div class="offer-image">
                            {% for item in main_photo_aesthetic_medicine %}
                                {% if item.getWebPath %}
                                    <img src="{{ asset(item.getWebPath()) }}" alt="{{ item.podpis }}" />
                                {% endif %}
                            {% endfor %}
                        </div>

                        <h2 class="offer-title blue">
                            Medycyna estetyczna
                        </h2>

                        {% render 'LmCmsBundle:Default:blok' with {slug: 'blok2-strona-glowna'} %}

                        <div class="btn-more">
                            <a class="btn blue" href="{{ path('lm_cms_strony_show', {slug: 'medycyna-estetyczna'}) }}">Więcej</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <div class="bottom">
            <div class="container">
                <div class="left">               
                    <div class="contact">
                        <b>Skontaktuj się</b> z nami przy pomocy</br>

                        <b class="bigger">formularza kontaktowego</b>
                        
                        <img class="decoration-arrow" src="{{ asset('bundles/lmcms/images/strzalka.png') }}" alt="strzalka" />

                        <a id="linkToContact" href="#"></a>
                    </div>
                </div>

                <div class="right">

                    <div class="bottom">
                        <img class="decoration-arrow" src="{{ asset('bundles/lmcms/images/strzalka2.png') }}" alt="strzalka" />
                        
                        <a href="{{ path('lm_cms_strony_show', {slug: 'kontakt'}) }}"></a>

                        <b class="bigger">Zobacz</b> gdzie jesteśmy</br>

                        <span>i jak do <b>nas</b> trafić</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}