{% extends '::base.html.twig' %}

{% block body_class %}subPage{% endblock %}

{% block content %}
    <div id="main">
        <div class="container">
            <div class="pageContent">
                {{ wo_render_breadcrumbs() }}

                <h1 class="pageTitle">{% block page_title%}{%endblock%}</h1>
                <div class="content">
                    {% block content_div %}

                    {% endblock %}
                </div>
                <div class="contact">
                    <a id="linkToContact" href="#"></a>
                    <span>Formularz kontaktowy</span>
                </div>

                <div class="location">
                    <a id="linkToLocation" href="{{ path('lm_cms_strony_show', {slug: 'kontakt'}) }}"></a>
                    <span>Znajdź nas na mapie</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}