{% block contact_form %}


	{% if app.session.hasFlash('contact_form_sent') %}
	
    <div class="flash-notice" style="padding:50px;">
        <h3>{{ app.session.flash('contact_form_sent') | trans }}</h3>
        
        <a href="/">{{ 'Go to main page' | trans	 }}</a>
    </div>
    
    {% else %}
    
    
    <form action="{{ path('contact_form') }}" method="post" {{ form_enctype(form) }} id="form-contact-form" novalidate>
    {{ form_errors(form) }}

	    <div id="contact-form">

		    <table>
		    	<tr>
		    		<td></td>
		    		<td style="padding-bottom:5px">
		    			<h3>{{ 'Contact form' | trans }}</h3>
						<span class="subtitle">{{ 'Send us a message' | trans }}</span>
						
					</td>
		    	</tr>
			    <tr>
			    	<td class="first_col">{{ form_label(form.senderName) }}</td>
			    	<td class="second_col">{{ form_errors(form.senderName) }} {{ form_widget(form.senderName) }}</td>
			    </tr>
			     <tr>
			    	<td class="first_col">{{ form_label(form.senderEmail) }}</td>
			    	<td class="second_col">{{ form_errors(form.senderEmail) }} {{ form_widget(form.senderEmail) }}</td>
			    </tr>
			    <tr>
			    	<td class="first_col">{{ form_label(form.senderMessage) }}</td>
			    	<td class="second_col">{{ form_errors(form.senderMessage) }} {{ form_widget(form.senderMessage) }}</td>
			    </tr>
			     <tr>
			    	<td class="first_col">{{ form_label(form.captcha) }}</td>
			    	<td class="second_col captcha">{{ form_errors(form.captcha) }} {{ form_widget(form.captcha) }}</td>
			    </tr>
		    </table>
		    
	    {{ form_rest(form) }}
	
	    <input type="submit" value="{{ 'Send message' | trans }}" class="submit button" />
	    </div>
	</form>

	{% endif %}
    

{% endblock %}