{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - Aktualności{% endblock %}

{% block keywords %}{{ parent() }} - Aktualności, newsy{% endblock %}
{% block description %}{{ parent() }}{% endblock %}




	{% block rightcolumn %}
	<div id="rightcol">
	
		<div id="podstrona-show">
		
			<div class="podstrona-title">
				<h1>Aktualności</h1>
			</div>
			
			<div class="separator1"><div></div></div>
			
			
			{% for page in pages %}
			
			<div class="akt-mini">
				
				<div class="akt-title">
					{{ page.title }}
				</div>
				<div class="akt-dodano">
					Data dodania: {{ page.getPublishDatePL }}
				</div>
				
				{% if page.getWebPath %}
				<div class="akt-image">
					<a class="fancybox" href="{{ asset(page.getWebPath) }}" >
						<img src="{{ page.getWebPath | apply_filter('page_thumb3')  }}" />
					</a>
				</div>
				{% endif %}
				
				<div class="akt-content {% if page.getWebPath %}akt-content-w{% endif %}">
					<p>
						{{ page.description }}
					</p>
					<div class="akt-czytajwiecej">
						<a href="{{ path('xd_cms_page_show', {slug: page.slug}) }}" title="czytaj więcej">
							<img src="{{ asset('bundles/lmfestiwal/images/btn-czytajwiecej.png') }}" />
						</a>
					</div>
				
					
				</div>
				
				
			</div>
			  
			{% endfor %}
			
				
				
			{{ pages.render()|raw }}
						
		</div>
	
	</div>
	{% endblock %}
