{% extends "::base.html.twig" %}


{% block title %}{{ page.title }}{% endblock %}

{% block keywords %}{{ page.keywords }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}



{% block stylesheets %}
	{% if app.request.query.get('druk') != 1 %}
	{{ parent() }}
	{% endif %}
{% endblock %}

{% block javascripts %}
	{% if app.request.query.get('druk') != 1 %}
	{{ parent() }}
	{% endif %}
{% endblock %}

{% block footer %}
	{% if app.request.query.get('druk') != 1 %}
	{{ parent() }}
	{% endif %}
{% endblock %}

{% block header %}
	{% if app.request.query.get('druk') != 1 %}
	{{ parent() }}
	{% endif %}
{% endblock %}

{% block leftcolumn %}
	{% if app.request.query.get('druk') != 1 %}
	{{ parent() }}
	{% endif %}
{% endblock %}

{% block karta_zgloszenia %}
	{% if app.request.query.get('druk') != 1 %}
	{{ parent() }}
	{% endif %}
{% endblock %}

{% block javascripts_bottom %}
        
    {% if app.request.query.get('druk') != 1 %}
	{{ parent() }}
	{% else %}
	<script type="text/javascript">
		window.print();   
	</script>
	{% endif %}
        
{% endblock %}


{% block drukuj %}
	{% if app.request.query.get('druk') != 1 %}
		<div class="podstrona-print"><a href="?druk=1" target="_blank">drukuj</a></div>
	{% else %}
		
	{% endif %}
{% endblock %}

{% block content %}

		<div id="podstrona-show">


			
			<div class="podstrona-content">
			
			
				{% if page.getWebPath %}
					<div class="podstrona-image">
						<a class="fancybox" href="{{ asset(page.getWebPath) }}" >
							<img src="{{ page.getWebPath | imagine_filter('pracownik_detale')  }}" />
						</a>
					</div>
				{% endif %}

			
				{{ page.content|raw }}

				
				
			</div>
		
		</div>
	
	

{% endblock %}
