{# default Sliding pagination control implementation #}


{% if pageCount > 1 %}
<div class="pagination">



    {% if next is defined %}
        <span class="next">
            <a class="czytaj_dalej czytaj_dalej_red" href="{{ path(route, query|merge({(pageParameterName): next})) }}">Starsze</a>
        </span>
    {% endif %}
    
    {% if previous is defined %}
        <span class="previous">
            <a class="czytaj_dalej czytaj_dalej_red" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">Nowsze</a>
        </span>
    {% endif %}
    
    
</div>
{% endif %}