{% extends 'XDCmsBundle:Sonata:edit.html.twig' %}

{%  block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var edytor_css = '{{ asset('bundles/lmcms/css/editor.css') }}';
        var edytor_css2 = '{{ asset('bundles/lmcms/ckeditor/contents.css') }}';
        var edytor_browse_url = '{{ path('lm_cms_default_browse') }}';
    </script>

    <script src="{{ asset('bundles/lmcms/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lmcms/ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lmcms/js/wysiwyg2.js') }}" type="text/javascript"></script>
{%  endblock %}

{% block form_fieldset %}
    {{ form_row(form['name'])}}
    {{ form_row(form['description'])}}
    {{ form_row(form['position'])}}
    {{ form_row(form['specializations'])}}
    {{ form_row(form['entityOrder'])}}

    <div class="input">
        {% if object.getWebPath() %}
            <a href="{{ asset(object.getWebPath())  }}">
                <img src="{{ asset(object.getWebPath() | imagine_filter('thumb_admin') ) }}" />
            </a>
        {% endif %}
    </div>
    
    {{ form_row(form['_file'])}}
    {{ form_row(form['_delete_file'])}}
    
    <br />
    <div class="input">
        {% if object.getLargePhotoWebPath() %}
            <a href="{{ asset(object.getLargePhotoWebPath())  }}">
                <img src="{{ asset(object.getLargePhotoWebPath() | imagine_filter('thumb_admin') ) }}" />
            </a>
        {% endif %}
    </div>
    
    {{ form_row(form['_largePhotoFile'])}}
    {{ form_row(form['_deleteLargePhotoFile'])}}
    {{ form_row(form['isActive']) }}
{% endblock %}
