{% extends 'LmCmsBundle::podstrona.html.twig' %}

{% block title %}{{ content_title|default('') }} - {{ parent() }} {% endblock %}

{% block page_title %}Nasz zespół{% endblock %}

{% block body_class %}{{ parent() }} our-team{% endblock %}

{% block content_div %}
    <div class="employees">
        <div class="main-photo">
            {% for item in our_team %}
                {% if item.getWebPath %}
                    <img src="{{ asset(item.getWebPath()) }}" alt="{{ item.podpis }}" />
                {% endif %}
            {% endfor %}
        </div>
        
        {% for employee in employees %}
            <div class="employee">
                <div class="name">{{ employee.name }}</div>
                
                {% if employee.getWebPath() %}
                    {% set largePhotoUrl = 'javascript:void(0)' %}
                    {% set cssClass = '' %}
                    
                    {% if employee.getLargePhotoWebPath() %}
                        {% set largePhotoUrl = employee.getLargePhotoWebPath() %}
                        {% set cssClass = 'has-large-photo colorbox-init' %}
                    {% endif %}
                    
                    <a class="photo {{ cssClass }}" href="{{ largePhotoUrl }}">
                        <img src="{{ asset(employee.getWebPath() | imagine_filter('employee_index')) }}" alt="{{ employee.name }}" />
                    </a>
                {% endif %}
                
                <div class="description">{{ employee.description | raw }}</div>
                
                <div class="position-with-specializations">
                    <div class="item">
                        <div class="title">Stanowisko:</div>
                        <div class="text">{{ employee.position | nl2br }}</div>
                    </div>
                    
                    <div class="item">
                        <div class="title">Preferencje:</div>
                        <div class="text">{{ employee.specializations | nl2br }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
