{% extends 'LmCmsBundle:Admin/Aktualnosc:edit.html.twig' %}

{% block form_fieldset %}




	{{ form_row(form['title'])}}
	{{ form_row(form['content'])}}
	{{ form_row(form['published'])}}
	{{ form_row(form['publishDate'])}}

		<div class="input">
		{% if object.getWebPath() %}
			<a href="{{ asset(object.getWebPath())  }}">
				<img src="{{ asset(object.getWebPath() | imagine_filter('thumb_admin') ) }}" />
			</a>
		{% else %}
		{% endif %}
		</div>
	{{ form_row(form['_file'])}}
	{{ form_row(form['_delete_file'])}}
	{{ form_row(form['galeria']) }}




 {% endblock %}