body.subPage #main .pageContent .articles .pager .pagination {
	text-align: center;
}

body #main.home > .bottom .right .top a {
	color: #fff;
}

.div-error {
	width: 68%;
	height: 59px;
	overflow-y: auto;
	color: red;
	font-size: 12px;

	padding: 5px;

}

.div-loading {
	width: 99%;
	height: 200px;
	background: url(images/ajax-loader.gif) no-repeat 50% 50%;

}

body #main.home > .top .doctor .text {
	pointer-events: none;
}


footer .copyright a {

}

footer .copyright a:hover {
	text-decoration:underline;
}
